<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" />
<link rel="stylesheet" href="./../styles/index.scss" />

<div class="container bg-light bg-error-timeout">
  <div class="row p-y-30">
    <section class="flex w-100 container content">
      <div class="w-50 md-down:w-100 p-y-25 gray-darkest">
        <div class="w-35px h-35px m-b-15" >
          <img src="./../images/icons/exclaimation-icon.svg" alt=""/>
        </div>
        <h1 class="h3 gray-darkest bold m-b-15">Oh no! Looks like AT&T is not yet available in your area.</h1>
        <p class="m-b-25">Don’t worry—you’re in good hands. Chat with an agent to find the best internet providers near you.</p>
        <div class="p-b-35">
          <button class="btn flex align-cente sm:hidden bg-blue-dark white p-y-8 p-x-25">Talk to an agent today <img class="h-20px w-20px m-t-3 p-t-5 m-x-5" src="../images/icons/phone-white.svg" alt=""/>  888-888-8888</button>
          <button class="btn flex align-cente md-up:hidden bg-blue-dark white p-y-8 p-x-25"><img class="h-20px w-20px m-r-5" src="../images/icons/phone-white.svg" alt=""/> Talk to an agent today </button>
        </div>
        <button class="btn bg-white btn-shadow p-y-8 p-x-25 icon chevron-left">See Local Internet Providers</button>
      </div>
    </section>
  </div>
</div>
