<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" />
<link rel="stylesheet" href="./../styles/index.scss" />

<!-- SCREEN 11-A -->
<div class="container row w-100 bg-white">
  <section class="w-100 bg-white p-y-15 content flex space-between">
    <p class="text-18 icon lock">Secure Checkout</p>
    <p class="blue-light">Back to Cart</p>
  </section>
</div>

<div class="container bg-gray-light">
  <div id="screen-5" class="row p-y-30 sm:p-y-15">


    <section class="flex w-100 flex-wrap sm:column-reverse">

      <div class="w-66 sm:w-100 p-y-25 sm:p-y-15 content">

        <div class="w-100 p-b-25">
          <h1 class="h3 gray-dead thin p-b-15">Review your order</h1>
          <p class="gray-dead">You’re almost there! If everything on your order summary looks correct, click “Place Order” to schedule your order.</p>
        </div>

        <section class="bg-white p-25 sm:p-x-15">

          <div class="review-container flex flex-wrap space-between">

            <div class="package-container flex flex-column">
              <p class="text-18 p-b-15">Internet Package</p>
              <section class="flex p-b-25 w-100">
                <div class="card-shadow sm:m-w-300 p-y-15 p-x-45 sm:p-x-45 border-top-blue-light border-radius-4">
                  <p class="text-24 text-center thin">Internet 1000</p>
                </div>
              </section>
            </div>
            <div class="package-container flex flex-column w-40">
              <p class="text-18 p-b-15">TV Package</p>
              <section class="flex p-b-25 w-100">
                <div class="card-shadow w-100 sm:m-w-300 p-y-15 p-x-45 sm:p-x-45 border-top-blue-dark border-radius-4">
                  <p class="text-24 text-center thin">DIRECTV CHOICE All Included</p>
                </div>
              </section>
            </div>
            <div class="package-container flex flex-column ">
              <p class="text-18 p-b-15">Equipment</p>
              <section class="flex p-b-25 w-100">
                <div class="card-shadow w-100 sm:m-w-300 p-y-15 p-x-25 sm:p-x-45 border-blue-light border-radius-4 flex flex-column text-center">
                  <div class="w-40px border-blue-dark border-radius-100 m-auto">
                    <p class="text-30 blue-dark">2</p>
                  </div>
                  <p class="blue p-t-5">devices</p>
                </div>
              </section>
            </div>

            <div class="promo-container flex flex-column w-100 p-b-25">
              <section class="w-100 flex md-down:flex-column space-between border-blue-light-2 border-radius-4 box-shadow p-y-25 p-x-20">
                <div class="w-25 md-down:w-100 md-down:p-b-10 flex space-between">
                  <div class="w-100 md-down:w-100">
                    <img src="/images/icons/check-blue-hollow.svg" alt="" class="max-w-120 w-35px m-r-5 m-t-5"/>
                  </div>
                </div>

                <div class="md-down:w-100 flex space-between p-l-10 md-down:p-0">
                  <div>
                    <div class="flex space-between">
                      <p class="text-18 blue-light p-t-5 p-b-15">NFL Sunday Ticket Max</p>
                      <p class="text-18 thin text-right lg-up:hidden">FREE</p>
                    </div>
                    <p class="text-14 thin p-b-15">NEW DIRECTV CUSTOMERS ONLY: NFL SUNDAY TICKET MAX is included at no extra cost for the 2020 season. NFL SUNDAY TICKET will automatically renew each season at the price then in effect (currently $293.94). You will be billed beginning on the date listed in the renewal reminder you will receive. You can call to cancel your subscription any time before the regular season starts and receive a refund of any amounts charged. No refunds will be given after the season starts. You may cancel these services by calling 800-288-2020.</p>
                  </div>
                  <div class="p-l-15 md-down:hidden">
                    <p class="text-18 thin">FREE</p>
                  </div>
                </div>
              </section>
            </div>

            <div class="promo-container flex flex-column w-100 p-b-25">
              <section class="w-100 flex md-down:flex-column space-between border-blue-light-2 border-radius-4 box-shadow p-y-25 p-x-20">
                <div class="w-25 md-down:w-100 md-down:p-b-10 flex space-between">
                  <div class="w-100 md-down:w-100">
                    <img src="/images/icons/check-blue-hollow.svg" alt="" class="max-w-120 w-35px m-r-5 m-t-5"/>
                  </div>
                </div>

                <div class="md-down:w-100 flex space-between p-l-10 md-down:p-0">
                  <div>
                    <div class="flex space-between">
                      <p class="text-18 blue-light p-t-5 p-b-15">HBO (12 months), SHOWTIME, STARZ, Cinemax, and EPIX</p>
                      <p class="text-18 thin text-right lg-up:hidden">FREE</p>
                    </div>
                    <p class="text-14 thin p-b-15">Showtime, Starz, and Cinemax are included at no extra cost for 3 months. After the promotional period, you will be billed each month the price then in effect (currently $36/mo.) unless you cancel before the end of the promotional period or any later monthly billing period. HBO is included at no extra cost for 12 months. After the promotional period, you will be billed each month the price then in effect (currently $17.99/mo.) unless you cancel before the end of the promotional period or any later monthly billing period. EPIX is included at no extra cost for 3 months. After the promotional period, you will be billed each month the price then in effect (currently $5.99/mo.) unless you cancel before the end of the promotional period or any later monthly billing period. You may cancel by calling 800-288-2020.</p>
                  </div>
                  <div class="p-l-15 md-down:hidden">
                    <p class="text-18 thin">FREE</p>
                  </div>
                </div>
              </section>
            </div>

            <div class="w-100">
              <p class="text-18 p-b-15">Additonal Fees</p>
              <div class="flex space-between p-x-20 p-y-25 border-blue-light-2 m-b-25">
                <p class="text-18 blue-light">Regional Sports Fee</p>
                <p class="text-18 thin">$8.49</p>
              </div>
            </div>

            <div class="personal-info-container flex flex-wrap w-100 p-b-25">
              <p class="text-18 p-b-15">Personal Information & Credit Check</p>
              <section class="w-100 flex md-down:flex-column p-b-15">
                <div class="flex w-40 md-down:w-100">
                  <div class="w-50 md-down:w-50 p-r-15">
                    <p class="text-14">First name</p>
                    <p class="blue-light">Ryan</p>
                  </div>

                  <div class="w-50 md-down:w-50">
                    <p class="text-14">Last Name</p>
                    <p class="blue-light">Johnson</p>
                  </div>
                </div>

                <div class="flex flex-wrap w-60 md-down:w-100 sm:p-t-15">
                  <div class="w-50 md-down:w-50 sm:w-100">
                    <p class="text-14">Phone Number</p>
                    <p class="blue-light">(999)999-9999</p>
                  </div>

                  <div class="w-50 md-down:w-50 sm:w-100 sm:p-t-15">
                    <p class="text-14">Email</p>
                    <p class="blue-light">slimshadey@haley.em</p>
                  </div>
                </div>
              </section>

              <div class="w-100">
                <p class="text-14">Address</p>
                <p class="blue-light">72 S Forest Ave, Happyville CA, 71410-1057</p>
              </div>

            </div>

            <div class="credit-check-container border-blue-light p-y-15 p-x-15 m-b-25 flex flex-column w-100">
              <p class="text-18 thin p-b-15 icon lock">Credit Check</p>
              <p class="text-14 p-b-5">Success! You are good to go.</p>
            </div>

            <div class="setup-container flex flex-wrap w-100 p-b-25">
              <p class="text-18 p-b-15">Account Setup</p>
              <section class="w-100 flex md-down:flex-column">

                <div class="flex w-66 md-down:w-100 md-down:flex-column">
                  <div class="w-33 md-down:w-100 md-down:flex-column p-r-15 sm:p-0">
                    <p class="text-14">PIN Number</p>
                    <p class="blue-light">****</p>
                  </div>
                  <div class="w-66 md-down:w-100 p-b-5">
                    <p class="text-14">Security Question</p>
                    <p class="blue-light">What is your favorite restaurant?</p>
                  </div>
                </div>

                <div class="flex w-33 md-down:w-100">
                  <div class="w-100">
                    <p class="text-14">Security Answer</p>
                    <p class="blue-light">*********</p>
                  </div>
                </div>

              </section>

            </div>

            <div class="secure-payment-container border-blue-light p-y-25 p-x-20 flex flex-column w-100 m-b-25">

              <p class="text-18 thin m-b-15 icon lock">Secure payment form</p>
              <p class="text-14 p-b-25">Success! Your payment form has been submitted.</p>

              <label for="autobillpay" class="checkbox" >
                <input type="checkbox" id="autobillpay" name="autobillpay" value="Auto Bill Pay" class="consent m-r-15 m-0" checked disabled />
                <span class="blue-dark">I’d like to sign up for auto bill pay.</span>
              </label>

            </div>

            <div class="install-method-container flex flex-column w-100 p-b-25">
              <p class="text-18 thin p-b-15">Installation & Appointment</p>

              <section class="pro-card w-100 flex md-down:flex-column space-between border-blue-light-2 border-radius-4 box-shadow p-y-25 p-x-20">

                <div class="w-25 md-down:w-100 md-down:p-b-10 flex space-between">
                  <div class="w-100 md-down:w-100">
                    <img src="/images/icons/pro-install.svg" alt="" class="max-w-120"/>
                  </div>
                </div>

                <div class="w-75 md-down:w-100 flex space-between p-l-10 md-down:p-0">
                  <div>
                    <div class="flex space-between">
                      <p class="text-18 blue-dark p-t-5 p-b-15">Professional Install</p>
                      <p class="text-24 thin text-right lg-up:hidden">FREE</p>
                    </div>
                    <p class="text-14 thin p-b-15">A service technician will visit your location to install your Internet service. Someone 18 years of age or older must be present when the technician arrives. The installation averages 2 - 4 hours, but can vary.</p>
                  </div>
                  <div class="p-l-15 md-down:hidden">
                    <p class="text-18 thin">FREE</p>
                  </div>
                </div>
              </section>

            </div>

            <div class="install-date-container w-100 flex">
              <div class="flex sm:flex-column w-75 md-down:w-100">
                <div class="w-50 md-down:w-100 p-r-15 p-b-15">
                  <p class="text-14">Installation Date</p>
                  <p class="blue-light">03/30/2020</p>
                </div>
                <div class="w-50 md-down:w-100 p-l-25 md-down:p-0">
                  <p class="text-14">Installation Time</p>
                  <p class="blue-light">1pm - 3pm</p>
                </div>
              </div>
            </div>

          </div>

          <div class="p-t-25"></div>

          <div class="flex flex-end content w-100 bg-white sm:fixed-submit">
            <button class="btn bg-blue-dark white btn-shadow p-y-8 p-x-45 border-radius-4">Place Order</button>
          </div>

        </section>
      </div>

      <!-- COST SECTION -->
      <div class="w-33 sm:w-100 p-y-25 sm:p-x-15 content">
        <p class="h3 thin p-b-25 sm:p-b-10">Cost</p>

        <section>
          <div class="bg-white p-25 sm:p-x-15 m-b-25">
            <p class="text-18 bold p-b-10">Monthly Cost</p>
            <div class="flex space-between">
              <p class="text-14">DIRECTV CHOICE All Included</p>
              <p class="text-14">$115.00</p>
            </div>
            <div class="flex space-between blue-light">
              <p class="text-14">$50.01 Off for 12 months</p>
              <p class="text-14">-($50.01)</p>
            </div>
            <div class="flex space-between blue-light">
              <p class="text-14">DIRECTV CHOICE All Included</p>
              <p class="text-14">$115.00</p>
            </div>
            <div class="flex space-between blue-light">
              <p class="text-14">NFL Sunday Ticket Max</p>
              <p class="text-14">$0.00</p>
            </div>
            <div class="flex space-between blue-light">
              <p class="text-14 w-66">HBO (12months), Showtime, Starz, Cinemax, and EPIX</p>
              <p class="text-14">$0.00</p>
            </div>
            <div class="flex space-between p-b-5">
              <p class="text-14">Internet 100</p>
              <p class="text-14">$69.99</p>
            </div>

            <div class="w-100 flex flex-wrap space-between border-top-gray p-t-10 blue-dark bold p-b-10">
              <p class="text-16 w-50">Total</p>
              <p class="text-16 w-50 text-right">$134.98</p>
              <span class="w-100 text-12 gray-darkest thin text-right ">plus tax</span>
            </div>

            <p class="text-18 bold p-b-10">First Bill Charges</p>

            <div class="flex space-between p-b-5 blue-light">
              <p class="text-14 w-66">Free Standard Professional Installation Included</p>
              <p class="text-14">$0.00</p>
            </div>

            <div class="w-100 flex flex-wrap space-between border-top-gray p-t-10 blue-dark bold p-b-15">
              <p class="text-16 w-50">Total</p>
              <p class="text-16 w-50 text-right">$0.00</p>
            </div>

            <p class="text-18 bold p-b-10">Package Discounts & Fees </p>

            <div class="flex space-between">
              <p class="text-14">Regional Sports Fee</p>
              <p class="text-14">$8.49</p>
            </div>
            <div class="flex space-between p-b-5">
              <p class="text-14">Monthly Receiver Lease</p>
              <p class="text-14">$42.00</p>
            </div>
            <div class="w-100 flex flex-wrap space-between border-top-gray p-t-10 blue-dark bold text-16">
              <p class="text-16 w-50">Total</p>
              <p class="text-16 w-50 text-right">$50.49</p>
              <span class="w-100 text-12 gray-darkest thin text-right ">plus tax</span>
            </div>

          </div>
        </section>

        <section>
          <div class="bg-white p-25 sm:p-x-15 m-b-25">
            <p class="text-18 bold p-b-15">Today's Charges</p>
            <div class="flex space-between">
              <p class="text-14">DIRECTV Activation fee</p>
              <p class="text-14">$19.95</p>
            </div>
            <div class="flex space-between blue-light">
              <p class="text-14">Genie</p>
              <p class="text-14">$0.00</p>
            </div>
            <div class="flex space-between p-b-5">
              <p class="text-14">AT&T Internet Advanced Payment</p>
              <p class="text-14">$100.00</p>
            </div>

            <div class="flex space-between border-top-gray p-t-15 blue-dark bold text-18">
              <p class="text-18">Due Today</p>
              <p class="text-18">$100.00</p>
            </div>
          </div>
        </section>
      </div>

    </section>
  </div>
</div>
<div class="sm:p-y-15"></div>
<div class="sm:p-y-15"></div>

<script type="text/javascript" src="../index.js"></script>
<script type="text/javascript" src="../scripts/mask.js"></script>
