<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" />
<link rel="stylesheet" href="./../styles/index.scss" />

<!-- SCREEN 5-A -->
<div class="container row w-100 bg-white">
  <section class="w-100 bg-white p-y-15 content flex space-between">
    <p class="text-18 icon lock">Secure Checkout</p>
    <p class="blue-light">Back to Cart</p>
  </section>
</div>

<div class="container bg-gray-light">
  <div id="screen-5" class="row p-y-30 sm:p-y-15">
    <section class="flex w-100 flex-wrap sm:flex-column">

      <div class="w-66 sm:w-100 p-y-25 sm:p-t-0 content">
        <h1 class="h3 gray-darkest thin p-b-15">Checkout</h1>
        <p class="p-b-25 sm:hidden">Just a few more steps and you’ll be set! Fill out your information below to place your order. </p>

        <section class="bg-white p-25 sm:p-x-15">
          <div class="w-100 m-b-15 flex space-between">
            <p class="text-18 thin">Promotions & Fees</p>
            <p class="gray">Step 1 of 6</p>
          </div>
          <p class="text-14 thin p-b-25">The following Promotions are available for your order. You can deselect any promotion you wish to opt out of.</p>

          <div class="promo-container flex flex-column w-100 p-b-25">
            <section class="w-100 flex md-down:flex-column space-between border-blue-light-2 border-radius-4 box-shadow p-y-25 p-x-20">
              <div class="w-25 md-down:w-100 md-down:p-b-10 flex space-between">
                <div class="w-100 md-down:w-100">
                  <img src="/images/icons/check-blue-hollow.svg" alt="" class="max-w-120 w-35px m-r-5 m-t-5"/>
                </div>
              </div>

              <div class="md-down:w-100 flex space-between p-l-10 md-down:p-0">
                <div>
                  <div class="flex space-between">
                    <p class="text-18 blue-dark p-t-5 p-b-15">NFL Sunday Ticket Max</p>
                    <p class="text-18 thin text-right lg-up:hidden">FREE</p>
                  </div>
                  <p class="text-14 thin p-b-15">NEW DIRECTV CUSTOMERS ONLY: NFL SUNDAY TICKET MAX is included at no extra cost for the 2020 season. NFL SUNDAY TICKET will automatically renew each season at the price then in effect (currently $293.94). You will be billed beginning on the date listed in the renewal reminder you will receive. You can call to cancel your subscription any time before the regular season starts and receive a refund of any amounts charged. No refunds will be given after the season starts. You may cancel these services by calling 800-288-2020.</p>
                </div>
                <div class="p-l-15 md-down:hidden">
                  <p class="text-18 thin">FREE</p>
                </div>
              </div>
            </section>
          </div>

          <div class="promo-container flex flex-column w-100 p-b-25">
            <section class="w-100 flex md-down:flex-column space-between border-blue-light-2 border-radius-4 box-shadow p-y-25 p-x-20">
              <div class="w-25 md-down:w-100 md-down:p-b-10 flex space-between">
                <div class="w-100 md-down:w-100">
                  <img src="/images/icons/check-blue-hollow.svg" alt="" class="max-w-120 w-35px m-r-5 m-t-5"/>
                </div>
              </div>

              <div class="md-down:w-100 flex space-between p-l-10 md-down:p-0">
                <div>
                  <div class="flex space-between">
                    <p class="text-18 blue-dark p-t-5 p-b-15">HBO (12 months), SHOWTIME, STARZ, Cinemax, and EPIX</p>
                    <p class="text-18 thin text-right lg-up:hidden">FREE</p>
                  </div>
                  <p class="text-14 thin p-b-15">Showtime, Starz, and Cinemax are included at no extra cost for 3 months. After the promotional period, you will be billed each month the price then in effect (currently $36/mo.) unless you cancel before the end of the promotional period or any later monthly billing period. HBO is included at no extra cost for 12 months. After the promotional period, you will be billed each month the price then in effect (currently $17.99/mo.) unless you cancel before the end of the promotional period or any later monthly billing period. EPIX is included at no extra cost for 3 months. After the promotional period, you will be billed each month the price then in effect (currently $5.99/mo.) unless you cancel before the end of the promotional period or any later monthly billing period. You may cancel by calling 800-288-2020.</p>
                </div>
                <div class="p-l-15 md-down:hidden">
                  <p class="text-18 thin">FREE</p>
                </div>
              </div>
            </section>
          </div>

          <p class="text-18 p-b-15">Additonal Fees</p>
          <div class="flex space-between p-x-20 p-y-25 border-blue-light-2 m-b-25">
            <p class="text-18 blue-dark">Regional Sports Fee</p>
            <p class="text-18 thin">$8.49</p>
          </div>

          <div class="btn flex flex-end w-100 bg-white sm:fixed-submit">
            <button type="submit" class="btn bg-blue-dark white btn-shadow p-y-8 p-x-65" data-modal-trigger="money-deposit" >Next</button>
          </div>


        </section>
      </div>

      <!-- COST SECTION -->
      <div class="w-33 sm:w-100 p-y-25 sm:p-x-15 content">
        <p class="h3 thin p-b-25 sm:p-b-10">Cost</p>

        <section>
          <div class="bg-white p-25 sm:p-x-15 m-b-25">
            <p class="text-18 bold p-b-10">Monthly Cost</p>
            <div class="flex space-between">
              <p class="text-14">DIRECTV CHOICE All Included</p>
              <p class="text-14">$115.00</p>
            </div>
            <div class="flex space-between blue-light">
              <p class="text-14">$50.01 Off for 12 months</p>
              <p class="text-14">-($50.01)</p>
            </div>
            <div class="flex space-between blue-light">
              <p class="text-14">DIRECTV CHOICE All Included</p>
              <p class="text-14">$115.00</p>
            </div>
            <div class="flex space-between blue-light">
              <p class="text-14">NFL Sunday Ticket Max</p>
              <p class="text-14">$0.00</p>
            </div>
            <div class="flex space-between blue-light">
              <p class="text-14 w-66">HBO (12months), Showtime, Starz, Cinemax, and EPIX</p>
              <p class="text-14">$0.00</p>
            </div>
            <div class="flex space-between p-b-5">
              <p class="text-14">Internet 100</p>
              <p class="text-14">$69.99</p>
            </div>

            <div class="w-100 flex flex-wrap space-between border-top-gray p-t-10 blue-dark bold p-b-10">
              <p class="text-16 w-50">Total</p>
              <p class="text-16 w-50 text-right">$134.98</p>
              <span class="w-100 text-12 gray-darkest thin text-right ">plus tax</span>
            </div>

            <p class="text-18 bold p-b-10">First Bill Charges</p>

            <div class="flex space-between p-b-5 blue-light">
              <p class="text-14 w-66">Free Standard Professional Installation Included</p>
              <p class="text-14">$0.00</p>
            </div>

            <div class="w-100 flex flex-wrap space-between border-top-gray p-t-10 blue-dark bold p-b-15">
              <p class="text-16 w-50">Total</p>
              <p class="text-16 w-50 text-right">$0.00</p>
            </div>

            <p class="text-18 bold p-b-10">Package Discounts & Fees </p>

            <div class="flex space-between">
              <p class="text-14">Regional Sports Fee</p>
              <p class="text-14">$8.49</p>
            </div>
            <div class="flex space-between p-b-5">
              <p class="text-14">Monthly Receiver Lease</p>
              <p class="text-14">$42.00</p>
            </div>
            <div class="w-100 flex flex-wrap space-between border-top-gray p-t-10 blue-dark bold text-16">
              <p class="text-16 w-50">Total</p>
              <p class="text-16 w-50 text-right">$50.49</p>
              <span class="w-100 text-12 gray-darkest thin text-right ">plus tax</span>
            </div>

          </div>
        </section>

        <section>
          <div class="bg-white p-25 sm:p-x-15 m-b-25">
            <p class="text-18 bold p-b-15">Today's Charges</p>
            <div class="flex space-between">
              <p class="text-14">DIRECTV Activation fee</p>
              <p class="text-14">$19.95</p>
            </div>
            <div class="flex space-between blue-light">
              <p class="text-14">Genie</p>
              <p class="text-14">$0.00</p>
            </div>
            <div class="flex space-between p-b-5">
              <p class="text-14">AT&T Internet Advanced Payment</p>
              <p class="text-14">$100.00</p>
            </div>

            <div class="flex space-between border-top-gray p-t-15 blue-dark bold text-18">
              <p class="text-18">Due Today</p>
              <p class="text-18">$100.00</p>
            </div>
          </div>
        </section>
      </div>

    </section>
  </div>
</div>
<div class="sm:p-y-15"></div>

<script type="text/javascript" src="../index.js"></script>
<script type="text/javascript" src="../scripts/mask.js"></script>
