<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="./../styles/index.scss" />

<!-- CART 10-A -->
<div class="container row w-100 bg-white">
  <section class="w-100 bg-white p-y-15 content flex space-between">
    <p class="text-18 icon lock">Secure Checkout</p>
    <p class="blue-light">Back to Cart</p>
  </section>
</div>

<div class="container bg-gray-light">
  <div id="screen-10" class="row p-y-30 sm:p-t-15">
    <section class="flex w-100 flex-wrap sm:flex-column">

      <div class="checkout-container w-66 sm:w-100 p-y-25 sm:p-x-15 sm:p-t-0 content">
        <h1 class="h3 gray-darkest thin p-b-15">Checkout</h1>
        <p class="p-b-25 sm:hidden">Just a few more steps and you’ll be set! Fill out your information below to place your order. </p>

        <section class="bg-white p-25 sm:p-x-15 m-b-15 flex flex-row space-between align-center">
          <div class="flex flex-row align-center">
            <img class="w-25px h-25px m-r-10 -m-t-3" src="./../images/icons/check-blue.svg" alt=""/>
            <p class="text-18 sm:text-14">Promotions & Fees</p>
          </div>
          <p class="no-underline text-18 blue-light sm:hidden">Change</p>
        </section>
        <section class="bg-white p-25 sm:p-x-15 m-b-15 flex flex-row space-between align-center">
          <div class="flex flex-row align-center">
            <img class="w-25px h-25px m-r-10 -m-t-3" src="./../images/icons/check-blue.svg" alt=""/>
            <p class="text-18 sm:text-14">Personal Information & Credit Check</p>
          </div>
          <p class="no-underline text-18 blue-light sm:hidden">Change</p>
        </section>
        <section class="bg-white p-25 sm:p-x-15 m-b-15 flex flex-row space-between align-center">
          <div class="flex flex-row align-center">
            <img class="w-25px h-25px m-r-10 -m-t-3" src="./../images/icons/check-blue.svg" alt=""/>
            <p class="text-18 sm:text-14">Account Setup & Installation</p>
          </div>
          <p class="no-underline text-18 blue-light sm:hidden">Change</p>
        </section>
        <section class="bg-white p-25 sm:p-x-15 m-b-15 flex flex-row space-between align-center">
          <div class="flex flex-row align-center">
            <img class="w-25px h-25px m-r-10 -m-t-3" src="./../images/icons/check-blue.svg" alt=""/>
            <p class="text-18 sm:text-14">Terms & Conditions</p>
          </div>
          <p class="no-underline text-18 blue-light sm:hidden">Change</p>
        </section>
        <section class="bg-white p-25 sm:p-x-15 m-b-15 flex flex-row space-between align-center">
          <div class="flex flex-row align-center">
            <img class="w-25px h-25px m-r-10 -m-t-3" src="./../images/icons/check-blue.svg" alt=""/>
            <p class="text-18 sm:text-14">Payment</p>
          </div>
          <p class="no-underline text-18 blue-light sm:hidden">Change</p>
        </section>

        <section class="bg-white p-25 sm:p-x-15">
          <div class="w-100 m-b-15 flex space-between">
            <p class="text-24 sm:text-18">Appointment Date</p>
            <p class="gray">Step 5 of 5</p>
          </div>
          <div class="bg-gray-lightest flex p-t-15 p-b-25 p-x-20 m-b-25">
            <div class="m-t-3 md-down:hidden">
              <img src="./../images/icons/house.svg" alt="" class="w-25px h-25px"/>
            </div>
            <div class="m-l-10">
              <p class="text-24 thin p-b-10">Renting? Download the Landlord Approval Letter</p>
              <p class="text-14 p-b-10">Installation of a DIRECTV System may involve modifications to the residence. You can still get DIRECTV® service if you rent. Have your landlord sign the Landlord Approval Letter before your installation appointment. More details and instructions can be found in the form.</p>

              <div class="btn border-blue-light-2 blue-light bg-white p-y-8 p-x-25 flex flex-center w-270px">
                <img src="./../images/icons/download.svg" class="w-25px h-25px m-r-10" alt="" />
                <a href="https://www.att.com/ecarecms/dam/att/2016/support/docs/Installation_Approval_Form_2016.pdf" target="_blank" class="blue-light no-underline">Download Form (PDF)</a>
              </div>
            </div>
          </div>
          <div class="w-100 m-b-25 gray-darkest">
            <p class="text-14">Choose the date and time that works best for you and one of our qualified technicians will install everything you need. Just make sure someone 18 or older is available at the time of install and you’ll be good to go!</p>
          </div>

          <form>
            <div class="w-100 flex flex-wrap md-down:flex-column">

              <div class="w-50 md-down:w-100 md-down:p-b-25">
                <p class="p-b-15">Available appointment dates</p>
                <div id="calendar"></div>
              </div>

              <div class="w-50 md-down:w-100">
                <p class="p-b-15">Available time slots</p>
                <div id="available-times" class="w-100 flex flex-column available-times">
                  <input type="radio" id="time-1" name="apt-time" class="" value="9am - 11am" required data-parsley-required-message="Select a time slot." />
                  <label for="time-1" class="w-75 sm:w-100 p-y-8 p-x-45 bg-blue-dark white text-18 m-b-10 border-radius-4 box-shadow pointer">9am - 11am</label>
                  <input type="radio" id="time-2" name="apt-time" value="11am - 1pm" required data-parsley-required-message="Select a time slot." />
                  <label for="time-2" class="w-75 sm:w-100 p-y-8 p-x-45 bg-blue-dark white text-18 m-b-10 border-radius-4 box-shadow pointer" >11am - 1pm</label>
                  <input type="radio" id="time-3" name="apt-time" value="1pm - 3pm" required data-parsley-required-message="Select a time slot." />
                  <label for="time-3" class="w-75 sm:w-100 p-y-8 p-x-45 bg-blue-dark white text-18 m-b-10 border-radius-4 box-shadow pointer" >1pm - 3pm</label>
                  <input type="radio" id="time-4" name="apt-time" value="3pm - 5pm" required data-parsley-required-message="Select a time slot." />
                  <label for="time-4" class="w-75 sm:w-100 p-y-8 p-x-45 bg-blue-dark white text-18 m-b-10 border-radius-4 box-shadow pointer" >3pm - 5pm</label>
                </div>
              </div>
            </div>

            <div class="p-t-25"></div>

            <div class="flex flex-end content w-100 bg-white sm:fixed-submit">
              <button type="submit" class="btn bg-blue-dark white btn-shadow p-y-8 p-x-45 disabled" >Review Order</button>
            </div>
          </form>

        </section>
      </div>

      <!-- COST SECTION -->
      <div class="w-33 sm:w-100 p-y-25 sm:p-x-15 content">
        <p class="h3 thin p-b-25 sm:p-b-10">Cost</p>

        <section>
          <div class="bg-white p-25 sm:p-x-15 m-b-25">
            <p class="text-18 bold p-b-10">Monthly Cost</p>
            <div class="flex space-between">
              <p class="text-14">DIRECTV CHOICE All Included</p>
              <p class="text-14">$115.00</p>
            </div>
            <div class="flex space-between blue-light">
              <p class="text-14">$50.01 Off for 12 months</p>
              <p class="text-14">-($50.01)</p>
            </div>
            <div class="flex space-between blue-light">
              <p class="text-14">DIRECTV CHOICE All Included</p>
              <p class="text-14">$115.00</p>
            </div>
            <div class="flex space-between blue-light">
              <p class="text-14">NFL Sunday Ticket Max</p>
              <p class="text-14">$0.00</p>
            </div>
            <div class="flex space-between blue-light">
              <p class="text-14 w-66">HBO (12months), Showtime, Starz, Cinemax, and EPIX</p>
              <p class="text-14">$0.00</p>
            </div>
            <div class="flex space-between p-b-5">
              <p class="text-14">Internet 100</p>
              <p class="text-14">$69.99</p>
            </div>

            <div class="w-100 flex flex-wrap space-between border-top-gray p-t-10 blue-dark bold p-b-10">
              <p class="text-16 w-50">Total</p>
              <p class="text-16 w-50 text-right">$134.98</p>
              <span class="w-100 text-12 gray-darkest thin text-right ">plus tax</span>
            </div>

            <p class="text-18 bold p-b-10">First Bill Charges</p>

            <div class="flex space-between p-b-5 blue-light">
              <p class="text-14 w-66">Free Standard Professional Installation Included</p>
              <p class="text-14">$0.00</p>
            </div>

            <div class="w-100 flex flex-wrap space-between border-top-gray p-t-10 blue-dark bold p-b-15">
              <p class="text-16 w-50">Total</p>
              <p class="text-16 w-50 text-right">$0.00</p>
            </div>

            <p class="text-18 bold p-b-10">Package Discounts & Fees </p>

            <div class="flex space-between">
              <p class="text-14">Regional Sports Fee</p>
              <p class="text-14">$8.49</p>
            </div>
            <div class="flex space-between p-b-5">
              <p class="text-14">Monthly Receiver Lease</p>
              <p class="text-14">$42.00</p>
            </div>
            <div class="w-100 flex flex-wrap space-between border-top-gray p-t-10 blue-dark bold text-16">
              <p class="text-16 w-50">Total</p>
              <p class="text-16 w-50 text-right">$50.49</p>
              <span class="w-100 text-12 gray-darkest thin text-right ">plus tax</span>
            </div>

          </div>
        </section>

        <section>
          <div class="bg-white p-25 sm:p-x-15 m-b-25">
            <p class="text-18 bold p-b-15">Today's Charges</p>
            <div class="flex space-between">
              <p class="text-14">DIRECTV Activation fee</p>
              <p class="text-14">$19.95</p>
            </div>
            <div class="flex space-between blue-light">
              <p class="text-14">Genie</p>
              <p class="text-14">$0.00</p>
            </div>
            <div class="flex space-between p-b-5">
              <p class="text-14">AT&T Internet Advanced Payment</p>
              <p class="text-14">$100.00</p>
            </div>

            <div class="flex space-between border-top-gray p-t-15 blue-dark bold text-18">
              <p class="text-18">Due Today</p>
              <p class="text-18">$100.00</p>
            </div>
          </div>
        </section>
      </div>

    </section>
  </div>
</div>
<div class="sm:p-y-15"></div>


<script type="text/javascript" src="../scripts/appointmentSetter.js"></script>
<script type="text/javascript" src="../index.js"></script>
