<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" />
<link rel="stylesheet" href="./../styles/index.scss" />

<!-- SCREEN 5-A -->
<div class="container row w-100 bg-white">
  <section class="w-100 bg-white p-y-15 content flex space-between">
    <p class="text-18 icon lock-green-dark">Secure Checkout</p>
    <p class="blue-light">Back to Cart</p>
  </section>
</div>

<div class="container bg-gray-light">
  <div id="screen-5" class="row p-y-30 sm:p-y-15">
    <section class="flex w-100 flex-wrap sm:flex-column">

      <div class="w-66 sm:w-100 p-y-25 sm:p-t-0 content">
        <h1 class="h3 gray-darkest thin p-b-10">Review your order</h1>
        <p class="text-14 p-b-25 sm:hidden">Please review your information. If everything looks correct, hit Next to enter payment for today's charges. If not, select Back to cart to make your changes. </p>
        <section class="bg-white p-25 sm:p-x-15">

          <div class="review-container flex flex-wrap">

            <div class="package-container flex flex-column w-100">
              <p class="w-100 text-24 thin p-b-5 m-b-15 border-bottom-gray-dark">
                Plan Information
              </p>
              <div class="flex flex-wrap">
                <div class="w-40">
                  <div class="package-card">
                    <section class="card-content">
                      <div class="title-container">
                        <p class="text-14 bold blue-light">UNLIMITED BASIC 12</p>
                      </div>

                      <div class="price">
                        <!-- <div class="prefix">$</div> -->
                        <div class="amount">40</div>
                        <div class="change duration-after">00</div>
                      </div>
                      <p class="text-14 p-b-15 gray-dead">$50/mo after 3 months</p>

                      <div class="speed-section w-100">
                        <div class="split w-100 flex flex-wrap">
                          <div class="w-50 p-r-10">
                            <div class="flex flex-wrap">
                              <div class="w-100 flex">
                                <p class="legal m-r-5">Up <br/> To</p>
                                <p class="speed text-24 thin">12Mbps</p>
                              </div>
                              <p class="text-14 thin nowrap">Download Speed</p>
                            </div>
                          </div>
                          <div class="w-50 p-l-10">
                            <p class="text-22 unlimited">Unlimited</p>
                            <p class="text-14 thin">Data</p>
                          </div>
                        </div>
                      </div>

                      <div class="features m-b-25">
                        <div class="item flex flex-row">
                          <div class="text-center w-25px m-r-5 m-t-5">
                            <img src="../images/icons/video.svg" alt="" class="w-100" />
                          </div>

                          <div class="p-r-25">
                            <p class="bold text-16">Up to 360p Video Streaming</p>
                            <span class="thin text-14">at Small Screen Quality</span>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
                <div class="w-60 p-l-25">
                  <div class="m-b-25">
                    <p class="p-b-5">Plan Name</p>
                    <p class="blue-light">Unlimited Bronze 12</p>
                  </div>
                  <div class="m-b-25">
                    <p class="p-b-5">Minimum Service Term</p>
                    <p class="blue-light">24-Month Contract</p>
                  </div>
                  <div class="m-b-15">
                    <p class="p-b-5">Details</p>
                    <p class="blue-light">Download Speeds up to 12.0 Mbps AND Upload Speeds up to 3.0 Mbps</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="personal-info-container flex flex-wrap w-100 p-b-25">
              <p class="w-100 text-24 thin p-b-5 m-b-15 border-bottom-gray-dark">
                Customer Information
              </p>
              <section class="w-100 p-b-15">
                <div class="flex w-50 md-down:w-100 p-b-25">
                  <div class="w-50 md-down:w-50 p-r-15">
                    <p class="text-16">First name</p>
                    <p class="blue-light">Ryan</p>
                  </div>

                  <div class="w-50 md-down:w-50">
                    <p class="text-16">Last Name</p>
                    <p class="blue-light">Johnson</p>
                  </div>
                </div>

                <div class="flex flex-wrap w-100 md-down:w-100 sm:p-t-15">
                  <div class="w-25 md-down:w-50 sm:w-100">
                    <p class="text-16">Phone Number</p>
                    <p class="blue-light">(999)999-9999</p>
                  </div>

                  <div class="w-25 md-down:w-50 sm:w-100">
                    <p class="text-16">Secondary Phone</p>
                    <p class="blue-light">(999)999-9999</p>
                  </div>

                  <div class="w-50 md-down:w-50 sm:w-100 sm:p-t-15">
                    <p class="text-16">Email</p>
                    <p class="blue-light">ryanjohnson@gmail.com</p>
                  </div>
                </div>
              </section>

              <div class="w-100 flex flex-wrap">
                <div class="w-50 p-b-15">
                  <p class="text-16">Service Address</p>
                  <p class="blue-light">72 S Forest Ave, Happyville CA, 71410-1057</p>
                </div>
                <div class="w-50 p-b-15">
                  <p class="text-16">Billing Address</p>
                  <p class="blue-light">72 S Forest Ave, Happyville CA, 71410-1057</p>
                </div>
                <div class="w-50 p-b-15">
                  <p class="text-16">Shipping Address</p>
                  <p class="blue-light">72 S Forest Ave, Happyville CA, 71410-1057</p>
                </div>
              </div>
            </div>

            <div class="credit-check-container border-blue-light p-y-15 p-x-15 m-b-25 flex flex-column w-100">
              <p class="text-24 thin p-b-15 icon lock-turquoise">Prequalification</p>
              <p class="text-14 p-b-5">Success! You've passed the credit prequalification. We'll perform a full credit check once you complete your order.</p>
            </div>

            <div class="promo-section w-100 m-b-25">
              <p class="w-100 text-24 thin p-b-5 m-b-15 border-bottom-gray-dark">
                Promotions
              </p>
              <div class="flex space-between p-x-20 p-y-25 card-shadow m-b-25">
                <p class="text-18 blue-dark">$50/mo for the first 3 months and a standard installation fee may apply.</p>
              </div>
            </div>

            <div class="plan-section w-100 m-b-25">
              <p class="w-100 text-24 thin p-b-5 m-b-15 border-bottom-gray-dark">
                Plan Options
              </p>
              <section class="plan-option border-white w-100 flex md-down:flex-column box-shadow p-y-25 p-x-20 m-b-10 border-blue-light">
                <div class="radio-section flex flex-wrap m-r-10 md-down:p-b-25">
                  <div class="radio-container">
                    <label for="rentalFee" class="big-radio" >
                      <input type="radio" id="rentalFee" name="eqipmentPlan" value="Self Install" class="planOption review m-r-15 m-0" checked disabled  data-parsley-required-message="Install method required" data-parsley-errors-container="#planOptionError" />
                      <span class="inputFill"></span>
                    </label>
                  </div>
                </div>

                <div class="flex w-100 space-between align-center p-l-10 md-down:p-0">
                  <div class="w-100 flex-1 space-between">
                    <div class="flex-1 space-between">
                      <p class="text-18 blue p-r-10">Monthly Equipment Rental Fee</p>
                      <p class="text-18 text-right lg-up:hidden">$10.00/mo</p>
                    </div>
                  </div>
                  <div class="flex-1 flex-end p-l-15 md-down:hidden">
                    <p class="text-18">$10.00/mo</p>
                  </div>
                </div>
              </section>
            </div>

            <div class="addon-section w-100 m-b-25">
              <p class="w-100 text-24 thin p-b-5 m-b-15 border-bottom-gray-dark">
                Add-ons
              </p>
              <section class="plan-option border-white w-100 flex md-down:flex-column box-shadow p-y-25 p-x-20 m-b-10 border-blue-light">
                <div class="radio-section flex flex-wrap m-r-10 md-down:p-b-25">
                  <div class="radio-container">
                    <label for="rentalFee" class="big-radio" >
                      <input type="radio" id="rentalFee" name="" value="Self Install" class="planOption review m-r-15 m-0" checked disabled  data-parsley-required-message="Install method required" data-parsley-errors-container="#planOptionError" />
                      <span class="inputFill"></span>
                    </label>
                  </div>
                </div>

                <div class="flex w-100 space-between align-center p-l-10 md-down:p-0">
                  <div class="w-100 flex-1 space-between">
                    <div class="flex-1 space-between">
                      <p class="text-18 blue p-r-10">Add EasyCare</p>
                      <p class="text-18 text-right lg-up:hidden">$8.99/mo, Free for first 3 months </p>
                    </div>
                  </div>
                  <div class="flex-1 flex-end p-l-15 md-down:hidden">
                    <p class="text-18">$8.99/mo, Free for first 3 months </p>
                  </div>
                </div>
              </section>

              <section class="plan-option border-white w-100 flex md-down:flex-column box-shadow p-y-25 p-x-20 m-b-10 border-blue-light">
                <div class="radio-section flex flex-wrap m-r-10 md-down:p-b-25">
                  <div class="radio-container">
                    <label for="rentalFee" class="big-radio" >
                      <input type="radio" id="rentalFee" name="" value="Self Install" class="planOption review m-r-15 m-0" checked disabled  data-parsley-required-message="Install method required" data-parsley-errors-container="#planOptionError" />
                      <span class="inputFill"></span>
                    </label>
                  </div>
                </div>

                <div class="flex w-100 space-between align-center p-l-10 md-down:p-0">
                  <div class="w-100 flex-1 space-between">
                    <div class="flex-1 space-between">
                      <p class="text-18 blue p-r-10">Add Viasat Shield Premium</p>
                      <p class="text-18 text-right lg-up:hidden">$5.99/mo</p>
                    </div>
                  </div>
                  <div class="flex-1 flex-end p-l-15 md-down:hidden">
                    <p class="text-18">$5.99/mo</p>
                  </div>
                </div>
              </section>

              <section class="plan-option border-white w-100 flex md-down:flex-column box-shadow p-y-25 p-x-20 m-b-10 border-blue-light">
                <div class="radio-section flex flex-wrap m-r-10 md-down:p-b-25">
                  <div class="radio-container">
                    <label for="rentalFee" class="big-radio" >
                      <input type="radio" id="rentalFee" name="" value="Self Install" class="planOption review m-r-15 m-0" checked disabled  data-parsley-required-message="Install method required" data-parsley-errors-container="#planOptionError" />
                      <span class="inputFill"></span>
                    </label>
                  </div>
                </div>

                <div class="flex w-100 space-between align-center p-l-10 md-down:p-0">
                  <div class="w-100 flex-1 space-between">
                    <div class="flex-1 space-between">
                      <p class="text-18 blue p-r-10">No, I do not want to bundle with voice </p>
                    </div>
                  </div>
                </div>
              </section>
            </div>

            <div class="install-date-container w-100 flex flex-wrap m-b-35">
              <p class="w-100 text-24 thin p-b-5 m-b-15 border-bottom-gray-dark">
                Installation Summary
              </p>
              <div class="flex sm:flex-column w-100 md-down:w-100">
                <div class="w-25 md-down:w-100 p-b-15">
                  <p class="text-14">Installation Date</p>
                  <p class="blue-light">09/30/2020</p>
                </div>
                <div class="w-25 md-down:w-100 md-down:p-0">
                  <p class="text-14">Installation Time</p>
                  <p class="blue-light">1pm - 3pm</p>
                </div>
                <div class="w-25 md-down:w-100 p-b-15">
                  <p class="text-14">Contact number</p>
                  <p class="blue-light">(845)457-1214</p>
                </div>
                <div class="w-25 md-down:w-100 md-down:p-0">
                  <p class="text-14">Notes</p>
                  <p class="blue-light">None</p>
                </div>
              </div>
            </div>

            <div class="install-date-container w-100 flex flex-wrap">
              <p class="w-100 text-24 thin p-b-5 m-b-15 border-bottom-gray-dark">
                Terms and Conditions
              </p>
              <div class="flex flex-wrap w-100 md-down:w-100">
                <p class="underlined pointer blue" data-modal-trigger="customer-agreement">Click here to read ViaSat Customer Agreement</p>
                <!-- Start modal content -->
                <div data-modal-content="customer-agreement" class="modal hidden sm:p-x-15 is-active">
                  <div class="modal-content p-25 sm:p-x-15 w-50 md-down:w-100">
                    <div class="w-100 text-right">
                      <span data-modal-trigger="close" class="close">&#10005;</span>
                    </div>
                    <div class="text-center p-y-30">
                      <iframe seamless="seamless" frameborder="0" height="400" src="https://p.widencdn.net/vnw63p/residential-customer-agreement" class="w-100"/>
                    </div>
                  </div>
                </div>
                <!-- End modal content -->

                <div class="w-100 p-y-25 md-down:p-b-45 relative ">
                  <label for="consent" class="checkbox">
                    <input type="checkbox" id="consent" data-parsley-required-message="You must check this box in order to continue with your order." name="consent" required class="consent m-r-10" />
                    <span tabindex="-1" class="-m-t-3">I have read the ViaSat Customer Agreement and accept the terms</span>
                  </label>
                </div>
              </div>
            </div>

          </div>

          <div class="p-t-25"></div>

          <div class="flex flex-end w-100 bg-white sm:fixed-submit">
            <button class="btn bg-blue-dark white btn-shadow p-y-8 p-x-45">Next</button>
          </div>

        </section>
      </div>

      <!-- COST SECTION -->
      <div class="w-33 sm:w-100 p-y-25 sm:p-x-15 content">
        <p class="text-24 thin p-b-25 sm:p-b-10">Cost</p>

        <section>
          <div class="bg-white p-25 sm:p-x-15 m-b-25">
            <p class="text-24 thin p-b-10">Monthly Cost</p>
            <div class="flex space-between p-b-5">
              <p class="text-14">UNLIMITED BRONZE 12</p>
              <p class="text-14">$70.00/mo</p>
            </div>
            <div class="flex space-between blue-light p-b-5">
              <p class="text-14">$20.00 Off for 12 months</p>
              <p class="text-14">-($20.00)/mo</p>
            </div>
            <div class="flex space-between p-b-5">
              <p class="text-14">EasyCare</p>
              <p class="text-14">$8.99/mo</p>
            </div>
            <div class="flex space-between blue-light p-b-5">
              <p class="text-14">EasyCare - 3 month credit</p>
              <p class="text-14">-($8.99)/mo</p>
            </div>
            <div class="flex space-between p-b-5">
              <p class="text-14">Viasat Shield Premium</p>
              <p class="text-14">$5.99/mo</p>
            </div>
            <div class="flex space-between p-b-10">
              <p class="text-14">Equipment Lease Fee - Monthly</p>
              <p class="text-14">$10.00/mo</p>
            </div>

            <div class="w-100 flex flex-wrap space-between border-top-gray p-t-10 blue-dark bold p-b-10">
              <p class="text-16 w-50">Total</p>
              <p class="text-16 w-50 text-right">$65.99/mo</p>
              <span class="w-100 text-12 gray-darkest thin text-right ">plus tax</span>
            </div>

          </div>
        </section>

        <section>
          <div class="bg-white p-25 sm:p-x-15 m-b-25">
            <p class="text-18 bold p-b-15">Today's Charges</p>
            <div class="flex space-between p-b-5">
              <p class="text-14">Standard Installation Fee - Lease</p>
              <p class="text-14">$300.00</p>
            </div>
            <div class="flex space-between p-b-10">
              <p class="text-14"> Standard Installation Fee Credit - Lease</p>
              <p class="text-14">$00.00</p>
            </div>

            <div class="w-100 flex flex-wrap space-between border-top-gray p-t-10 blue-dark bold p-b-10">
              <p class="text-16 w-50">Total</p>
              <p class="text-16 w-50 text-right">$300.00/mo</p>
              <span class="w-100 text-12 gray-darkest thin text-right ">plus tax</span>
            </div>
          </div>
        </section>
      </div>

    </section>
  </div>
</div>
<div class="sm:p-y-15"></div>

<script type="text/javascript" src="../index.js"></script>
<script type="text/javascript" src="../scripts/mask.js"></script>
