<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" />
<link rel="stylesheet" href="./../styles/index.scss" />

  <!-- SCREEN 11-B -->
  <div class="container row w-100 bg-white">
    <section class="w-100 bg-white p-y-15 content flex space-between align-center">
      <p class="text-18 icon lock">Secure Checkout</p>
      <p class="blue-light">Back to Cart</p>
    </section>
  </div>

  <div class="container bg-white bg-family-hero">
    <div class="row p-y-30 sm:p-t-15 sm:p-b-0">

      <section class="flex w-100">

        <div class="w-50 md-down:w-100 p-y-25 sm:p-t-0 content gray-darkest">
          <h1 class="h3 gray-darkest m-b-15">Congratulations!</h1>
          <p class="p-b-25 sm:p-b-15">Your order has been submitted! <br class="md-up:hidden" /> You’re good to go.</p>

          <div class="p-25 sm:p-x-15 sm:p-y-15 border-purple-light">
            <p class="text-24 thin p-b-15">AT&T Installation hotline</p>
            <p class="p-b-15">Have questions or need to reschedule your installation appointment? </p>

            <div class="flex align-center sm:hidden">
              <img src="/images/icons/phone-blue.svg" alt="" class="h-25px w-25px" />
              <a href="tel:(844)776-0966" class="text-24 thin no-underline blue p-l-10">(844)776-0966</a>
            </div>
            <div class="md-up:hidden">
              <a href="tel:(844)776-0966" class="btn flex align-center p-15 bg-blue-dark border-radius-4 text-18 thin no-underline white">
                <img src="/images/icons/phone-white.svg" alt="" class="h-20px w-20px m-r-5" />
                (844)776-0966
              </a>
            </div>
          </div>
        </div>

      </section>

    </div>
  </div>

  <div class="container bg-gray-light">
    <div id="screen-5" class="row p-y-30 sm:p-y-15">

      <div class="w-100 p-x-25 sm:p-x-15">
        <h1 class="h3 gray-dead thin p-b-15">Review your order</h1>
        <p class="gray-dead">You’re almost there! If everything on your order summary looks correct, click submit and place your order.</p>
      </div>

      <section class="flex w-100 flex-wrap sm:column-reverse">

        <div class="w-66 sm:w-100 p-y-25 sm:p-y-15 content">

          <section class="bg-white p-25 sm:p-x-15">

            <div class="review-container flex flex-wrap">

              <div class="package-container flex flex-column w-100">
                <p class="text-18 p-b-15">Internet Package</p>
                <section class="flex p-b-25 w-100">
                  <div class="card-shadow sm:m-w-300 p-y-15 p-x-65 sm:p-x-45 border-top-blue-light border-radius-4">
                    <p class="text-24 text-center thin">Internet 1000</p>
                  </div>
                </section>
              </div>

              <div class="personal-info-container flex flex-wrap w-100 p-b-25">
                <p class="text-18 p-b-15">Personal Information & Credit Check</p>
                <section class="w-100 flex md-down:flex-column p-b-15">
                  <div class="flex w-40 md-down:w-100">
                    <div class="w-50 md-down:w-50 p-r-15">
                      <p class="text-14">First name</p>
                      <p class="blue-light">Ryan</p>
                    </div>

                    <div class="w-50 md-down:w-50">
                      <p class="text-14">Last Name</p>
                      <p class="blue-light">Johnson</p>
                    </div>
                  </div>

                  <div class="flex flex-wrap w-60 md-down:w-100 sm:p-t-15">
                    <div class="w-50 md-down:w-50 sm:w-100">
                      <p class="text-14">Phone Number</p>
                      <p class="blue-light">(999)999-9999</p>
                    </div>

                    <div class="w-50 md-down:w-50 sm:w-100 sm:p-t-15">
                      <p class="text-14">Email</p>
                      <p class="blue-light">slimshadey@haley.em</p>
                    </div>
                  </div>
                </section>

                <div class="w-100">
                  <p class="text-14">Address</p>
                  <p class="blue-light">72 S Forest Ave, Happyville CA, 71410-1057</p>
                </div>

              </div>

              <div class="credit-check-container border-blue-light p-y-15 p-x-15 m-b-25 flex flex-column w-100">
                <p class="text-18 thin p-b-15 icon lock">Credit Check</p>
                <p class="text-14 p-b-5">Success! You are good to go.</p>
              </div>

              <div class="setup-container flex flex-wrap w-100 p-b-25">
                <p class="text-18 p-b-15">Account Setup</p>
                <section class="w-100 flex md-down:flex-column">

                  <div class="flex w-66 md-down:w-100 md-down:flex-column">
                    <div class="w-33 md-down:w-100 md-down:flex-column p-r-15 sm:p-0">
                      <p class="text-14">PIN Number</p>
                      <p class="blue-light">****</p>
                    </div>
                    <div class="w-66 md-down:w-100 p-b-5">
                      <p class="text-14">Security Question</p>
                      <p class="blue-light">What is your favorite restaurant?</p>
                    </div>
                  </div>

                  <div class="flex w-33 md-down:w-100">
                    <div class="w-100">
                      <p class="text-14">Security Answer</p>
                      <p class="blue-light">*********</p>
                    </div>
                  </div>

                </section>

              </div>

              <div class="secure-payment-container border-blue-light p-y-25 p-x-20 flex flex-column w-100 m-b-25">

                <p class="text-18 thin m-b-15 icon lock">Secure payment form</p>

                <div class="flex flex-column w-100 p-b-25">
                  <div class="w-75 md-down:w-100 flex flex-wrap p-b-15">
                    <div class="w-40 md-down:w-100 p-b-15">
                      <p class="text-14">Credit Card Number</p>
                      <p class="blue-light mask-card">**** **** **** 9999</p>
                    </div>

                    <div class="w-40 md-down:w-66 p-l-25 p-b-15 md-down:p-l-0">
                      <p class="text-14">Cardholder Name</p>
                      <p class="blue-light">Ryan Johnson</p>
                    </div>

                    <div class="w-33 md-down:w-33 p-b-15">
                      <p class="text-14">Zipcode</p>
                      <p class="blue-light">84141</p>
                    </div>
                    <div class="w-33 md-down:w-66 p-l-25 md-down:p-0">
                      <p class="text-14">Exp. date</p>
                      <p class="blue-light">04/23</p>
                    </div>
                    <div class="w-33 p-l-25 md-down:p-0">
                      <p class="text-14">CVV</p>
                      <p class="blue-light">***</p>
                    </div>
                  </div>
                </div>

                <label for="autobillpay" class="checkbox" >
                  <input type="checkbox" id="autobillpay" name="autobillpay" value="Auto Bill Pay" class="consent m-r-15 m-0" checked disabled />
                  <span class="blue-dark">I’d like to sign up for auto bill pay.</span>
                </label>

              </div>

              <div class="install-method-container flex flex-column w-100 p-b-25">
                <p class="text-18 thin p-b-15">Installation & Appointment</p>

                <section class="pro-card w-100 flex md-down:flex-column space-between border-blue-light-2 border-radius-4 box-shadow p-y-25 p-x-20">

                  <div class="w-25 md-down:w-100 md-down:p-b-10 flex space-between">
                    <div class="w-100 md-down:w-100">
                      <!-- <p class="h1 thin text-right lg-up:hidden md-down:p-0">$99</p> -->
                      <img src="/images/icons/pro-install.svg" alt="" class="max-w-120"/>
                    </div>
                  </div>

                  <div class="w-75 md-down:w-100 flex space-between p-l-10 md-down:p-0">
                    <div>
                      <div class="flex space-between">
                        <p class="text-18 blue-dark p-t-5 p-b-15">Professional Install</p>
                        <p class="text-24 thin text-right lg-up:hidden">$99</p>
                      </div>
                      <p class="text-14 p-b-15">A service technician will visit your location to install your Internet service. Someone 18 years of age or older must be present when the technician arrives. The installation averages 2 - 4 hours, but can vary.</p>
                      <p class="text-14 blue">Payment will be split into installments of $33 for 3 months.</p>
                    </div>
                    <div class="p-l-15 md-down:hidden">
                      <p class="text-24 thin">$99</p>
                    </div>
                  </div>
                </section>

              </div>

              <div class="install-date-container w-100 flex">
                <div class="flex sm:flex-column w-75 md-down:w-100">
                  <div class="w-50 md-down:w-100 p-r-15 p-b-15">
                    <p class="text-14">Installation Date</p>
                    <p class="blue-light">03/30/2020</p>
                  </div>
                  <div class="w-50 md-down:w-100 p-l-25 md-down:p-0">
                    <p class="text-14">Installation Time</p>
                    <p class="blue-light">1pm - 3pm</p>
                  </div>
                </div>
              </div>

            </div>

            <div class="flex flex-end w-100 p-t-25">
              <button class="btn bg-blue-dark white btn-shadow p-y-8 p-x-45">Place Order</button>
            </div>

          </section>
        </div>

        <!-- Order Summary SECTION -->
        <div class="w-33 sm:w-100 p-y-25 sm:p-t-15 sm:p-b-0 content">
          <p class="h3 gray-dead thin p-b-25 sm:p-b-15">Order Summary</p>

          <section>
            <div class="bg-white p-y-15 p-x-25 sm:p-x-15">
              <p class="text-18 bold p-b-15">Monthly Cost</p>
              <div class="flex space-between p-b-5">
                <p class="text-14">Internet 1000</p>
                <p class="text-14">$59.99</p>
              </div>

              <div class="flex space-between p-b-5">
                <p class="text-14 blue-light">$10 off per month</p>
                <p class="text-14 blue-light">-($10.00)</p>
              </div>

              <div class="flex space-between p-b-15">
                <p class="text-14">Internet Equipment Fee</p>
                <p class="text-14">$10.00</p>
              </div>

              <div class="flex space-between border-top-gray p-t-15 blue bold text-18">
                <p class="text-18">Total</p>
                <p class="text-18">$59.99</p>
              </div>
            </div>
          </section>

        </div>

      </section>
    </div>
  </div>

<script type="text/javascript" src="../index.js"></script>
