<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" />
<link rel="stylesheet" href="./../styles/index.scss" />
<script type="text/javascript" src="./../index.js"></script>

<!-- Marketing Header -->
<div class="w-100">
  <img src="/images/marketing/header.png" alt=""  class="w-100"/>
</div>
<!-- END Marketing Header -->

<!-- 00 - idling -->
  <div id="cartNav" class="cartNav container box-shadow">
    <div class="row p-y-8">
        <div class="flex space-between content">
          <div class="flex align-center p-y-8 md-up:hidden">
            <p class="gray-dark">Step 1 of 4</p>
          </div>
          <div class="flex flex-row align-center sm:hidden">
            <p class="p-x-10 text-14 blue bold">Package</p>
            <img class="w-15px h-15px -m-t-5" src="../images/icons/arrow-right-white.svg" alt=""/>
            <p class="p-x-10 text-14 gray-dark">Checkout</p>
          </div>
          <div id="cart" class="cart-container pointer flex flex-row align-center">
            <img src="../images/icons/cart-blue.svg" alt="" class="w-25px h-25px"/>
            <p class="p-x-5">My Cart</p>
            <img src="../images/icons/chevron-left.svg" alt="" class="dropdown-arrow md-up:hidden w-25px h-25px -m-t-3  icon-rotate-270"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container bg-green">
    <div class="row p-y-5">
      <div class="content flex flex-row">
        <img class="w-20px h-20px m-r-5" src="../images/icons/location-pin.svg" alt=""/>
        <p class="text-14">84111 <a class="blue-dark no-underline m-l-5" href="#">Change</a></p>
      </div>
    </div>
  </div>

  <div class="container bg-blue-light white">
    <div class="row p-t-10 p-b-10">
      <div class="content flex flex-row flex-center">
        <p class="text-16">Can’t decide which package fits you best? Talk to an agent today <a class="white no-underline icon phone-white" href="tel:{PHONE}">800-000-0000</a></p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row p-y-30">

      <section class="w-100 content">
        <div class="row container bg-white flex flex-wrap">
          <section class="w-100 sm:w-100 container content">
            <div class="flex-column w-100 p-y-30">
              <div class="w-50 sm:w-100 bg-gray-light p-y-25 m-b-15"></div>
              <div class="w-33 sm:w-100 bg-gray-light p-y-15 m-b-15"></div>
            </div>
            <div class="flex flex-wrap w-100 sm:w-100">
              <div class="w-25 sm:w-100 idle-card">
                <div class="content"></div>
              </div>
              <div class="w-25 sm:w-100 idle-card">
                <div class="content"></div>
              </div>
              <div class="w-25 sm:w-100 idle-card">
                <div class="content"></div>
              </div>
              <div class="w-25 sm:w-100 idle-card">
                <div class="content"></div>
              </div>
              <div class="w-25 sm:w-100 idle-card">
                <div class="content"></div>
              </div>
              <div class="w-25 sm:w-100 idle-card">
                <div class="content"></div>
              </div>
            </div>
          </section>
        </div>
      </section>

    </div>
  </div>

  <!-- Marketing footer -->
  <div class="w-100">
    <img src="/images/marketing/footer.png" alt=""  class="w-100"/>
  </div>
  <!-- END Marketing footer -->

  <script type="text/javascript" src="../index.js"></script>
