<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" />
<link rel="stylesheet" href="./../styles/index.scss" />

<!-- Marketing Header -->
<div class="w-100">
  <img src="/images/marketing/header.png" alt=""  class="w-100"/>
</div>
<!-- END Marketing Header -->

<!-- SCREEN 0-4 -->
<div class="container row w-100 bg-white">
  <section class="w-100 bg-white p-y-15 content flex space-between">
    <p class="text-18 icon lock-green-dark">Secure Checkout</p>
    <p class="blue-light pointer">Back to Cart</p>
  </section>
</div>

<div class="container bg-gray-light">
  <div id="screen-5" class="row p-y-30 sm:p-y-15">
    <section class="flex w-100 flex-wrap sm:flex-column">

      <div class="w-66 sm:w-100 p-y-25 sm:p-t-0 content">
        <h1 class="h3 gray-darkest thin p-b-15">Checkout</h1>
        <p class="p-b-25 sm:hidden">Just a few more steps to complete your order! Enter your preferences and information below.</p>
        <section class="bg-white p-25 sm:p-x-15 m-b-15 flex flex-row space-between align-center">
          <div class="flex flex-row align-center">
            <img class="w-25px h-25px m-r-10 -m-t-3" src="./../images/icons/check-blue.svg" alt=""/>
            <p class="text-18 sm:text-14">Plan options and add-ons</p>
          </div>
          <p class="no-underline text-18 blue-light sm:hidden" onclick="stepLink('screen-02-plans-options')">Change</p>
        </section>
        <section class="bg-white p-25 sm:p-x-15 m-b-15 flex flex-row space-between align-center">
          <div class="flex flex-row align-center">
            <img class="w-25px h-25px m-r-10 -m-t-3" src="./../images/icons/check-blue.svg" alt=""/>
            <p class="text-18 sm:text-14">Voice bundling options</p>
          </div>
          <p class="no-underline text-18 blue-light sm:hidden" onclick="stepLink('screen-03-bundling')">Change</p>
        </section>

        <section class="bg-white p-25 sm:p-x-15">
          <div class="w-100 m-b-15 flex space-between">
            <p class="text-24 thin">Customer Information</p>
            <p class="gray">Step ? of ?</p>
          </div>
          <form action="" class="flex flex-wrap form-container">
            <div class="name-container flex w-100 sm:flex-column">
              <div class="w-50 md-down:w-50 sm:w-100  m-r-25 sm:p-0">
                <label for="firstname">
                  First name*
                </label>
                <input id="firstname" name="firstname" type="text" required />
              </div>
              <div class="w-50 md-down:w-50 sm:w-100">
                <label for="lastname">
                  Last name*
                </label>
                <input id="lastname" name="lastname" type="text" required />
              </div>
            </div>

            <div class="contact flex flex-wrap w-100 p-b-15">
              <div class="w-50 sm:w-100">
                <label for="email">
                  Email address*
                </label>
                <input id="email" name="email" type="email" required data-parsley-required-message="Email is required" data-parsley-pattern-message="Please enter valid email" data-parsley-pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" />
              </div>
              <div class="w-100 flex flex-wrap">
                <div class="w-40 sm:w-100 m-r-25 sm:m-0">
                  <label for="phone">
                    Primary phone*
                  </label>
                  <input id="phone" name="phone" type="tel" placeholder="(000)000-0000" required data-parsley-required-message="Phone is required" data-parsley-pattern-message="Phone expecting 10 numbers" data-parsley-pattern="((\(\d{3}\)?)|(\d{3}-))?\d{3}-\d{4}" />
                </div>
                <div class="w-40 sm:w-100 m-r-25 sm:m-0">
                  <label for="secondPhone">
                    Secondary phone*
                  </label>
                  <input id="secondPhone" name="secondPhone" type="tel" placeholder="(000)000-0000" data-parsley-required-message="Phone is required" data-parsley-pattern-message="Phone expecting 10 numbers" data-parsley-pattern="((\(\d{3}\)?)|(\d{3}-))?\d{3}-\d{4}" />
                </div>
              </div>
            </div>
            <div class="w-100 flex flex-start flex-column checkbox-container p-b-25 m-b-25">
              <label for="consent" class="checkbox" >
                <input type="checkbox" id="consent" name="consent" value="Consent" class="consent m-r-15 m-0" required />
                <span tabindex="-1">By checking this box, you authorize ViaSat to reach you by phone or text with information about your ViaSat services. Examples include install and repair appointment, billing and account information, and customer satisfaction inquiries. Standard rates may apply.</span>
              </label>
            </div>

            <p class="w-100 text-24 thin p-b-5 m-b-25 border-bottom-gray-dark">
              Residential Information
            </p>
            <div class="w-100 bg-gray-lightest flex p-t-15 p-b-15 p-x-20 m-b-25">
              <div class="m-t-3 md-down:hidden">
                <img src="./../images/icons/house-green.svg" alt="" class="w-25px h-25px"/>
              </div>
              <div class="m-l-10">
                <p class="text-24 thin p-b-10">Renting? Remember to give your landlord a call</p>
                <p class="text-14 thin p-b-10">Renters must get permission from their property owner to mount a satellite dish on the premises.</p>
              </div>
            </div>

            <div class="ownership-info w-100 flex flex-wrap m-b-25">
              <div class="w-33 flex flex-wrap">
                <p class="m-b-10">Do you own or rent your residence?</p>
                <label for="own" class="checkbox circle m-r-15" >
                  <input type="radio" id="own" name="ownRent" value="Own" class="consent" required />
                  <span tabindex="-1">Own</span>
                </label>
                <label for="rent" class="checkbox circle m-r-15" >
                  <input type="radio" id="rent" name="ownRent" value="Rent" class="consent" required />
                  <span tabindex="-1">Rent</span>
                </label>
              </div>
              <div class="w-66 p-l-25">
                <p class="m-b-10">Home Type</p>
                <label for="single" class="checkbox circle m-r-15" >
                  <input type="radio" id="single" name="homeType" value="Single Unit" class="consent" required />
                  <span tabindex="-1">Single Unit</span>
                </label>
                <label for="multi" class="checkbox circle m-r-15" >
                  <input type="radio" id="multi" name="homeType" value="Multi-Dwelling Unit (eg. Condo, Apartment, Duplex)" class="consent" required />
                  <span tabindex="-1">Multi-dwelling unit (condo, duplex, apartment)</span>
                </label>
              </div>
            </div>

            <div class="w-100 service-address m-b-15">
              <p class="w-100 text-24 thin p-b-5 m-b-25 border-bottom-gray-dark">
                Service Address
              </p>
              <div class="flex-1 flex-wrap space-between">
                <div class="w-66 md-down:w-50 sm:w-100 sm:p-0">
                  <label for="streetAddress">
                    Street Address*
                  </label>
                  <input id="streetAddress" name="streetAddress" type="text" required />
                </div>
                <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                  <label for="unitNumber">
                    Unit number
                  </label>
                  <input id="unitNumber" name="unitNumber" type="text" />
                </div>
              </div>

              <div class="flex-1 flex-wrap space-between">
                <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                  <label for="city">
                    City*
                  </label>
                  <input id="city" name="city" type="text" required />
                </div>
                <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                  <label for="state">
                    State*
                  </label>
                  <select name="state" id="state" class="w-100 dropdown" required>
                    <option value="test">Test Val 1</option>
                    <option value="test">Test Val 2</option>
                    <option value="test">Test Val 3</option>
                    <option value="test">Test Val 4</option>
                    <option value="test">Test Val 5</option>
                  </select>
                </div>
                <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                  <label for="zip">
                    Zip*
                  </label>
                  <input id="address-zip" name="zip" class="zip" type="tel" data-parsley-required-message="This field is required" pattern="[0-9]{5}" data-parsley-pattern-message="Zipcode must be 5 digits" data-parsley-pattern="[0-9]{5}" maxlength="5" placeholder="00000" required />
                </div>
              </div>

            </div>

            <div class="w-100 billing-address m-b-15">
              <p class="w-100 text-24 thin p-b-5 m-b-25 border-bottom-gray-dark">
                Billing Address
              </p>
              <div class="w-100 p-b-10 md-down:p-b-45 relative">
                <label for="billingAddress" class="checkbox">
                  <input type="checkbox" id="billingAddress" name="billingAddress" class="consent m-r-15 m-0" data-toggle-form="billing-form" checked/>
                  <span tabindex="-1">Billing address is the same as service address.</span>
                </label>
              </div>
              <div class="billing-form hidden">
                <div class="flex-1 flex-wrap space-between">
                  <div class="w-66 md-down:w-50 sm:w-100 sm:p-0">
                    <label for="streetAddressBilling">
                      Street Address*
                    </label>
                    <input id="streetAddressBilling" name="streetAddressBilling" type="text" />
                  </div>
                  <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                    <label for="billingUnitNumber">
                      Unit number
                    </label>
                    <input id="billingUnitNumber" name="billingUnitNumber" type="text" data-not-required="true" />
                  </div>
                </div>

                <div class="flex-1 flex-wrap space-between">
                  <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                    <label for="cityBilling">
                      City*
                    </label>
                    <input id="cityBilling" name="cityBilling" type="text" />
                  </div>
                  <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                    <label for="stateBilling">
                      State*
                    </label>
                    <select name="stateBilling" id="stateBilling" class="w-100 dropdown" >
                      <option value="test">Test Val 1</option>
                      <option value="test">Test Val 2</option>
                      <option value="test">Test Val 3</option>
                      <option value="test">Test Val 4</option>
                      <option value="test">Test Val 5</option>
                    </select>
                  </div>
                  <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                    <label for="zipBilling">
                      Zip*
                    </label>
                    <input id="address-zip-illing" name="zipBilling" class="zip" type="tel" data-parsley-required-message="This field is required" pattern="[0-9]{5}" data-parsley-pattern-message="Zipcode must be 5 digits" data-parsley-pattern="[0-9]{5}" maxlength="5" placeholder="00000" />
                  </div>
                </div>
              </div>

            </div>

            <div class="w-100 shipping-address m-b-15">
              <p class="w-100 text-24 thin p-b-5 m-b-25 border-bottom-gray-dark">
                Shipping Address
              </p>
              <div class="w-100 p-b-10 md-down:p-b-45 relative">
                <label for="shippingAddress" class="checkbox">
                  <input type="checkbox" id="shippingAddress" name="shippingAddress" class="consent m-r-15 m-0" data-toggle-form="shipping-form" checked />
                  <span tabindex="-1">Shipping address is the same as service address.</span>
                </label>
              </div>
              <div class="shipping-form hidden">
                <div class="flex-1 flex-wrap space-between">
                  <div class="w-66 md-down:w-50 sm:w-100 sm:p-0">
                    <label for="streetAddressShipping">
                      Street Address
                    </label>
                    <input id="streetAddressShipping" name="streetAddressShipping" type="text" />
                  </div>
                  <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                    <label for="addressUnitNumber">
                      Unit number
                    </label>
                    <input id="addressUnitNumber" name="addressUnitNumber" type="text" data-not-required="true" />
                  </div>
                </div>

                <div class="flex-1 flex-wrap space-between">
                  <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                    <label for="cityShipping">
                      City
                    </label>
                    <input id="cityShipping" name="cityShipping" type="text" />
                  </div>
                  <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                    <label for="stateShipping">
                      State
                    </label>
                    <select name="stateShipping" id="state" class="w-100 dropdown" >
                      <option value="test">Test Val 1</option>
                      <option value="test">Test Val 2</option>
                      <option value="test">Test Val 3</option>
                      <option value="test">Test Val 4</option>
                      <option value="test">Test Val 5</option>
                    </select>
                  </div>
                  <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                    <label for="zipShipping">
                      Zip
                    </label>
                    <input id="address-zip-shipping" name="zipShipping" class="zip" type="tel" data-parsley-required-message="This field is required" pattern="[0-9]{5}" data-parsley-pattern-message="Zipcode must be 5 digits" data-parsley-pattern="[0-9]{5}" maxlength="5" placeholder="00000" />
                  </div>
                </div>
              </div>

            </div>

            <div class="creditcheck border-blue-light p-y-25 p-x-20 sm:p-x-15 flex flex-column w-100">
              <p class="text-24 thin m-b-15 icon lock-turquoise">Prequalification</p>
              <div class="w-100 flex flex-wrap">
                <div class="w-33 md-down:w-100">
                  <label for="SSN">
                    Last 4 digits of SSN*
                  </label>
                  <input id="SSN" name="SSN" type="text" placeholder="XXXX" pattern="[0-9]{4}" maxlength="4" required  data-parsley-required-message="Last 4 of SSN is required" data-parsley-pattern-message="Please enter valid SSN" data-parsley-pattern="[0-9]{4}"/>
                  <input id="SSN-mask" placeholder="XXXX" class="hidden SSN-mask" />
                </div>

                <div class="w-33 md-down:w-100 p-l-25 md-down:p-0">
                  <label for="birthday">
                    Date of birth*
                  </label>
                  <input id="birthday" name="birthday" type="text" placeholder="MM/DD/YYYY" pattern="^\d{2}\/\d{2}\/\d{4}$" maxlength="10" required data-parsley-required-message="Birthday is required" data-parsley-pattern-message="Please enter valid Birthday" data-parsley-pattern="^\d{2}\/\d{2}\/\d{4}$" />
                  <input id="birthday-mask" placeholder="MM/DD/YYYY" class="hidden birthday-mask" />
                </div>

                <div class="w-33 sm:w-50 p-l-33 sm:p-0 flex align-center">
                  <img src="/images/icons/verisign-secured.svg" alt="" class="">
                </div>
              </div>
              <p class="text-14 thin m-b-15">By granting your consent, you authorize Viasat to prequalify you by obtaining information from a credit reporting agency to evaluate the offers available to you. This will not harm your credit score. When you place this order, Viasat will perform a credit check before finalizing your order</p>
            </div>

            <div class="flex flex-end w-100 p-t-25">
              <div class="flex flex-end w-100 bg-white sm:fixed-submit">
                <button type="submit" class="btn bg-blue-dark white btn-shadow border-0 p-y-8 p-x-45 disabled" data-modal-trigger="prequalComplete">Next</button>
              </div>
            </div>

            <!-- Start modal content -->
            <div data-modal-content="prequalComplete" class="modal sm:p-x-15 hidden is-active">
              <div class="modal-content p-25 sm:p-x-15 w-50 md-down:w-100">
                <div class="w-100 text-right">
                  <span data-modal-trigger="close" class="close">&#10005;</span>
                </div>
                <div class="text-center p-y-30 flex flex-column justify-center">
                  <img src="../images/icons/thumbs-up-green.svg" alt="" class="text-center m-b-10" />
                  <p class="text-30 thin p-b-15 p-x-45">Prequalification complete!</p>
                  <p class="p-b-25 w-100 m-auto ">Thank you for completing the credit prequalification.</p>
                  <button  class="btn bg-blue white p-y-8 p-x-45 m-auto border-0" data-modal-trigger="close" data-next-step>Next</button>
                </div>
              </div>
            </div>
            <!-- End modal content -->

          </form>
        </section>
      </div>

      <!-- COST SECTION -->
      <div class="w-33 sm:w-100 p-y-25 sm:p-x-15 content">
        <p class="text-24 thin p-b-25 sm:p-b-10">Cost</p>

        <section>
          <div class="bg-white p-25 sm:p-x-15 m-b-25">
            <p class="text-24 thin p-b-10">Monthly Cost</p>
            <div class="flex space-between p-b-5">
              <p class="text-14">UNLIMITED BRONZE 12</p>
              <p class="text-14">$70.00/mo</p>
            </div>
            <div class="flex space-between blue-light p-b-5">
              <p class="text-14">$20.00 Off for 12 months</p>
              <p class="text-14">-($20.00)/mo</p>
            </div>
            <div class="flex space-between p-b-5">
              <p class="text-14">EasyCare</p>
              <p class="text-14">$8.99/mo</p>
            </div>
            <div class="flex space-between blue-light p-b-5">
              <p class="text-14">EasyCare - 3 month credit</p>
              <p class="text-14">-($8.99)/mo</p>
            </div>
            <div class="flex space-between p-b-5">
              <p class="text-14">Viasat Shield Premium</p>
              <p class="text-14">$5.99/mo</p>
            </div>
            <div class="flex space-between p-b-10">
              <p class="text-14">Equipment Lease Fee - Monthly</p>
              <p class="text-14">$10.00/mo</p>
            </div>

            <div class="w-100 flex flex-wrap space-between border-top-gray p-t-10 blue-dark bold p-b-10">
              <p class="text-16 w-50">Total</p>
              <p class="text-16 w-50 text-right">$65.99/mo</p>
              <span class="w-100 text-12 gray-darkest thin text-right ">plus tax</span>
            </div>

          </div>
        </section>

      </div>

    </section>
  </div>
</div>
<div class="sm:p-y-15"></div>

<!-- Marketing footer -->
<div class="w-100">
  <img src="/images/marketing/footer.png" alt=""  class="w-100"/>
</div>
<!-- END Marketing footer -->

<script type="text/javascript" src="../index.js"></script>
<script type="text/javascript" src="../scripts/mask.js"></script>
<script type="text/javascript" src="../scripts/form.js"></script>

<script>
  var nextStep = document.querySelectorAll('[data-next-step]');
  nextStep.forEach(el => {
    el.addEventListener('click', () => {
      const nextStepName = 'screen-05-promotions'

      window.location = `/templates/${nextStepName}.html`
    })
  })
</script>
