<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" />
<link rel="stylesheet" href="./../styles/index.scss" />

<!-- Marketing Header -->
<div class="w-100">
  <img src="/images/marketing/header.png" alt=""  class="w-100"/>
</div>
<!-- END Marketing Header -->


<div class="container bg-white bg-cool-dad box-shadow-top">

  <!-- SPACER -->
  <div class="p-y-45"></div>

  <div class="row p-y-30 sm:p-t-15 sm:p-b-0">

    <section class="flex w-100">

      <div class="w-50 md-down:w-100 p-y-25 sm:p-t-0 content gray-dead">
        <h1 class="h1 thin gray-dead m-b-15">Congratulations!</h1>
        <p class="text-24 thin p-b-25 p-r-25 sm:p-b-15">Your order has been submitted. An order summary should arrive in your email inbox any minute now.</p>

        <div class="p-25 m-b-25 sm:p-x-15 sm:p-y-15 border-purple-light">
          <p class="text-20 bold p-b-5">ViaSat customer care hotline</p>
          <p class="p-b-15">Have questions or need to reschedule your installation appointment? </p>

          <div class="flex align-center sm:hidden">
            <img src="/images/icons/phone-blue.svg" alt="" class="h-25px w-25px" />
            <a href="tel:(866)945-3258" class="text-24 thin no-underline blue p-l-10">(866)945-3258</a>
          </div>
          <div class="md-up:hidden">
            <a href="tel:(866)945-3258" class="btn flex align-center p-15 bg-blue-dark border-radius-4 text-18 thin no-underline white">
              <img src="/images/icons/phone-white.svg" alt="" class="h-20px w-20px m-r-5" />
              (866)945-3258
            </a>
          </div>
        </div>

        <p class="text-24 p-b-10">Order ID: 000000</p>
        <p class="text-16">Your brand new phone number with ViaSat Voice</p>
        <p class="text-20">(888)888-8888</p>
      </div>

    </section>

  </div>

  <!-- SPACER -->
  <div class="p-y-45"></div>
</div>

<div class="sm:p-y-15"></div>
<div class="sm:p-y-15"></div>

<!-- Marketing footer -->
<div class="w-100">
  <img src="/images/marketing/footer.png" alt=""  class="w-100"/>
</div>
<!-- END Marketing footer -->

<script type="text/javascript" src="../index.js"></script>
<script type="text/javascript" src="../scripts/mask.js"></script>
