<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" />
<link rel="stylesheet" href="./../styles/index.scss" />

  <!-- SCREEN 2-B -->

  <div class="container bg-light bg-family-hero">
    <div class="row p-y-30">

      <section class="flex w-100">

        <div class="w-50 md-down:w-100 p-y-25 content gray-darkest">
          <div class="w-35px h-35px m-b-15" >
            <img src="./../images/icons/question-icon.svg" alt=""/>
          </div>
          <h1 class="h3 gray-darkest bold m-b-15">Which of these options is your address?</h1>

          <button class="btn bg-blue-dark sm:text-left w-100 white p-y-8 p-x-25 sm:p-x-15 m-b-15">72 Forest Ave, Luverne, AL, 36049</button>
          <button class="btn bg-blue-dark sm:text-left w-100 white p-y-8 p-x-25 sm:p-x-15 m-b-25">72 Forest Ave, Crystal City, MO, 63019</button>
          <button class="btn bg-white btn-shadow p-y-8 p-x-25 icon chevron-left">Back</button>
        </div>

      </section>

    </div>
  </div>

<script type="text/javascript" src="../index.js"></script>
