<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" />
<link rel="stylesheet" href="./../styles/index.scss" />
<!-- Marketing Header -->
<div class="w-100">
  <img src="/images/marketing/header.png" alt=""  class="w-100"/>
</div>
<!-- END Marketing Header -->

<div class="container bg-gray-lightest bg-error-timeout">
  <div class="row p-y-30">
    <section class="flex w-100 container content">
      <div class="w-50 md-down:w-100 p-y-25 gray-darkest">
        <div class="w-35px h-35px m-b-15" >
          <img src="./../images/icons/exclaimation-icon-green.svg" alt=""/>
        </div>
        <h1 class="m-b-15 thin">Oops! Looks like you’ve timed out.</h1>
        <p class="m-b-25 text-24">Don’t worry—we have you covered. Call or chat with one of our agents to get your order back on track.</p>
        <div class="p-b-35">
          <div class="sm:hidden">
            <a href="tel:{PHONE}" class="btn flex align-center bg-blue-light white p-t-10 p-b-10 p-x-35 no-underline">Talk to an agent today <span class="icon phone-white">888-888-8888</span> </a>
          </div>
          <div class="md-up:hidden">
            <a href="tel:{PHONE}" class="btn flex text-center bg-blue-light white p-y-8 p-x-45 no-underline"><span class="icon phone-white ">Talk to an agent today</span> </a>
          </div>
        </div>
        <a href="tel:{PHONE}" class="btn bg-white btn-shadow p-y-8 p-x-45 blue-light no-underline"><img src="../images/icons/arrow-left-blue.svg" alt="" class="w-25px h-25px m-r-5"> Start over</a>
      </div>
    </section>
  </div>
</div>

<!-- Marketing footer -->
<div class="w-100">
  <img src="/images/marketing/footer.png" alt=""  class="w-100"/>
</div>
<!-- END Marketing footer -->