<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" />
<link rel="stylesheet" href="./../styles/index.scss" />

<!-- SCREEN 5-A -->
<div class="container row w-100 bg-white">
  <section class="w-100 bg-white p-y-15 content flex space-between">
    <p class="text-18 icon lock-green-dark">Secure Checkout</p>
    <p class="blue-light">Back to Cart</p>
  </section>
</div>

<div class="container bg-gray-light">
  <div id="screen-5" class="row p-y-30 sm:p-y-15">
    <section class="flex w-100 flex-wrap sm:flex-column">

      <div class="w-66 sm:w-100 p-y-25 sm:p-t-0 content">
        <h1 class="h3 gray-darkest thin p-b-15">Checkout</h1>
        <p class="p-b-25 sm:hidden">Just a few more steps and you’ll be set! Fill out your information below to place your order. </p>
        <section class="bg-white p-25 sm:p-x-15 m-b-15 flex flex-row space-between align-center">
          <div class="flex flex-row align-center">
            <img class="w-25px h-25px m-r-10 -m-t-3" src="./../images/icons/check-blue.svg" alt=""/>
            <p class="text-18 sm:text-14">Plan Options and Addons</p>
          </div>
          <p class="no-underline text-18 blue-light sm:hidden">Change</p>
        </section>

        <section class="bg-white p-25 sm:p-x-15">
          <div class="w-100 m-b-15 flex space-between">
            <p class="text-24 thin">Voice Bundling Options</p>
            <p class="gray">Step ? of ?</p>
          </div>
          <form action="" class="flex flex-wrap form-container">
            <div class="w-50 sm:w-100 m-b-25">
              <label for="timeZone">
                Your Timezone*
              </label>
              <select name="timeZone" id="timeZone" class="w-100 dropdown p-x-10" required>
                <option value="test">Test Val 1</option>
                <option value="test">Test Val 2</option>
                <option value="test">Test Val 3</option>
                <option value="test">Test Val 4</option>
                <option value="test">Test Val 5</option>
              </select>
            </div>
            <p class="w-100 text-24 thin p-b-5 m-b-25 border-bottom-gray-dark">
              E911 (Enhanced 911) Information
            </p>
            <div class="bg-gray-lightest flex p-t-15 p-b-25 p-x-20 m-b-25">
              <div class="m-t-3 md-down:hidden">
                <img src="./../images/icons/check-green-filled.svg" alt="" class="w-25px h-25px"/>
              </div>
              <div class="m-l-10">
                <p class="text-24 thin p-b-10">What is E911?</p>
                <p class="text-14 thin p-b-10">E911 (Enhanced 911) is support for wireless phone users who dial 911, the standard number for requesting help in an emergency. For example this is the address where a 911 dispatcher would send an ambulance. It is critical to confirm the E911 address independently from the service address.</p>
              </div>
            </div>

            <div class="w-100 address-line-1 m-b-15">
              <p class="text-18 p-b-15">Address line 1</p>
              <div class="flex-1 flex-wrap space-between">
                <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                  <label for="streetNumber">
                    Street Number*
                  </label>
                  <input id="streetNumber" name="streetNumber" type="text" required />
                </div>
                <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                  <label for="suffix1">
                    Suffix
                  </label>
                  <input id="suffix1" name="suffix1" type="text" required />
                </div>
                <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                  <label for="preDirection">
                    Pre Direction
                  </label>
                  <select name="preDirection" id="preDirection" class="w-100 dropdown" required>
                    <option value="test">Test Val 1</option>
                    <option value="test">Test Val 2</option>
                    <option value="test">Test Val 3</option>
                    <option value="test">Test Val 4</option>
                    <option value="test">Test Val 5</option>
                  </select>
                </div>

              </div>
              <div class="flex-1 flex-wrap space-between">
                <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                  <label for="streetName">
                    Street Name*
                  </label>
                  <input id="streetName" name="streetName" type="text" required />
                </div>
                <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                  <label for="suffix2">
                    Suffix
                  </label>
                  <input id="suffix2" name="suffix2" type="text" required />
                </div>
                <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                  <label for="postDirection">
                    Post Direction
                  </label>
                  <select name="postDirection" id="postDirection" class="w-100 dropdown" required>
                    <option value="test">Test Val 1</option>
                    <option value="test">Test Val 2</option>
                    <option value="test">Test Val 3</option>
                    <option value="test">Test Val 4</option>
                    <option value="test">Test Val 5</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="w-100 address-line-2 m-b-25">
              <p class="text-18 p-b-15">Address line 2</p>
              <div class="flex-1 flex-wrap space-between">
                <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                  <label for="unitType">
                    Unit Type
                  </label>
                  <select name="unitType" id="unitType" class="w-100 dropdown" required>
                    <option value="test">Test Val 1</option>
                    <option value="test">Test Val 2</option>
                    <option value="test">Test Val 3</option>
                    <option value="test">Test Val 4</option>
                    <option value="test">Test Val 5</option>
                  </select>
                </div>
                <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                  <label for="unitNumber">
                    Unit Number
                  </label>
                  <input id="unitNumber" name="unitNumber" type="text" required />
                </div>
                <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                  <!-- SPACER -->
                </div>
              </div>
              <div class="flex-1 flex-wrap space-between">
                <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                  <label for="city">
                    City*
                  </label>
                  <input id="city" name="city" type="text" required />
                </div>
                <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                  <label for="state">
                    State
                  </label>
                  <select name="state" id="state" class="w-100 dropdown" required>
                    <option value="test">Test Val 1</option>
                    <option value="test">Test Val 2</option>
                    <option value="test">Test Val 3</option>
                    <option value="test">Test Val 4</option>
                    <option value="test">Test Val 5</option>
                  </select>
                </div>
                <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                  <label for="zip">
                    Zip
                  </label>
                  <input id="address-zip" name="zip" class="zip" type="tel" data-parsley-required-message="This field is required" pattern="[0-9]{5}" data-parsley-pattern-message="Zipcode must be 5 digits" data-parsley-pattern="[0-9]{5}" maxlength="5" placeholder="00000" required />
                </div>

              </div>
            </div>

            <p class="w-100 text-24 thin p-b-5 m-b-25 border-bottom-gray-dark">
              Create a Login for Voice Support
            </p>
            <div class="bg-gray-lightest flex p-t-15 p-b-25 p-x-20 m-b-25">
              <div class="m-t-3 md-down:hidden">
                <img src="./../images/icons/question-icon.svg" alt="" class="w-25px h-25px"/>
              </div>
              <div class="m-l-10">
                <p class="text-24 thin p-b-10">Why am I creating a login?</p>
                <p class="text-14 thin p-b-10">This is the username and password to manage Voice only. Please note that it is not the login for the account management portal.</p>
              </div>
            </div>

            <div class="w-100 createLogin m-b-25">
              <div class="w-100 flex flex-wrap space-between">
                <div class="w-66 md-down:w-50 sm:w-100 sm:p-0 m-r-25">
                  <label for="username">
                    Username*
                  </label>
                  <input id="username" name="username" type="text" required />
                </div>
                <div class="w-100 flex space-between">
                  <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                    <label for="password">
                      Password*
                    </label>
                    <input id="password" name="password" class="password" type="password" required data-parsley-required-message="This field is required" />
                  </div>
                  <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                    <label for="confirmPassword">
                      Confirm Password*
                    </label>
                    <input id="confirmPassword" name="confirmPassword" class="password" type="password" required data-parsley-equalto="#password" data-parsley-equalto-message="Password does not match." />
                  </div>
                  <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                    <!-- SPACER -->
                  </div>
                </div>
                <p class="thin text-14">Password should contain 7-20 characters, at least one uppercase,one lowercase and one number.</p>

              </div>
            </div>

            <div class="callerID m-b-25">
              <p class="w-100 text-24 thin p-b-5 m-b-25 border-bottom-gray-dark">
                Caller ID
              </p>
              <div class="w-100 p-b-10 md-down:p-b-45 relative">
                <label for="blockCallerID" class="checkbox">
                  <input type="checkbox" id="blockCallerID" name="blockCallerID" class="consent m-r-15 m-0" />
                  <span tabindex="-1">Block caller ID name</span>
                </label>
              </div>
              <div class="w-100 flex flex-wrap space-between">
                <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                  <label for="firstName">
                    First Name*
                  </label>
                  <input id="firstName" name="firstName" type="text" required />
                </div>
                <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                  <label for="middleName">
                    Middle Name
                  </label>
                  <input id="middleName" name="middleName" type="text" />
                </div>
                <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                  <label for="lastname">
                    Last Name*
                  </label>
                  <input id="lastname" name="lastname" type="text" required />
                </div>
              </div>
            </div>

            <div class="directoryListing">
              <p class="w-100 text-24 thin p-b-5 m-b-25 border-bottom-gray-dark">
                Directory Listing
              </p>
              <div class="w-100 p-b-10 md-down:p-b-45 relative">
                <label for="publishAddress" class="checkbox">
                  <input type="checkbox" id="publishAddress" name="publishAddress" class="consent m-r-15 m-0" />
                  <span tabindex="-1">Publish Address in public directory/span>
                </label>
              </div>
              <div class="w-100 flex flex-wrap space-between">
                <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                  <label for="listingType">
                    Listing Type*
                  </label>
                  <select name="listingType" id="listingType" class="w-100 dropdown p-x-10" required>
                    <option value="test">Test Val 1</option>
                    <option value="test">Test Val 2</option>
                    <option value="test">Test Val 3</option>
                    <option value="test">Test Val 4</option>
                    <option value="test">Test Val 5</option>
                  </select>
                </div>
                <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                  <label for="firstName2">
                    First Name*
                  </label>
                  <input id="firstName2" name="firstName2" type="text" />
                </div>
                <div class="w-30 md-down:w-50 sm:w-100 sm:p-0">
                  <label for="lastName2">
                    Last Name*
                  </label>
                  <input id="lastName2" name="lastName2" type="text" required />
                </div>
              </div>
            </div>

            <div class="flex flex-end w-100 p-t-25">
              <div class="flex flex-end content w-100 bg-white sm:fixed-submit">
                <button type="submit" class="btn bg-blue-dark white btn-shadow p-y-8 p-x-65 disabled" >Next</button>
              </div>
            </div>

          </form>
        </section>
      </div>

      <!-- COST SECTION -->
      <div class="w-33 sm:w-100 p-y-25 sm:p-x-15 content">
        <p class="text-24 thin p-b-25 sm:p-b-10">Cost</p>

        <section>
          <div class="bg-white p-25 sm:p-x-15 m-b-25">
            <p class="text-24 thin p-b-10">Monthly Cost</p>
            <div class="flex space-between p-b-5">
              <p class="text-14">UNLIMITED BRONZE 12</p>
              <p class="text-14">$70.00/mo</p>
            </div>
            <div class="flex space-between blue-light p-b-5">
              <p class="text-14">$20.00 Off for 12 months</p>
              <p class="text-14">-($20.00)/mo</p>
            </div>
            <div class="flex space-between p-b-5">
              <p class="text-14">EasyCare</p>
              <p class="text-14">$8.99/mo</p>
            </div>
            <div class="flex space-between blue-light p-b-5">
              <p class="text-14">EasyCare - 3 month credit</p>
              <p class="text-14">-($8.99)/mo</p>
            </div>
            <div class="flex space-between p-b-5">
              <p class="text-14">Viasat Shield Premium</p>
              <p class="text-14">$5.99/mo</p>
            </div>
            <div class="flex space-between p-b-10">
              <p class="text-14">Equipment Lease Fee - Monthly</p>
              <p class="text-14">$10.00/mo</p>
            </div>

            <div class="w-100 flex flex-wrap space-between border-top-gray p-t-10 blue-dark bold p-b-10">
              <p class="text-16 w-50">Total</p>
              <p class="text-16 w-50 text-right">$65.99/mo</p>
              <span class="w-100 text-12 gray-darkest thin text-right ">plus tax</span>
            </div>

          </div>
        </section>

      </div>

    </section>
  </div>
</div>
<div class="sm:p-y-15"></div>

<script type="text/javascript" src="../index.js"></script>
<script type="text/javascript" src="../scripts/mask.js"></script>
