// ========================================
// Default Grid Width
// ========================================
.container {
  width: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.content {
  padding-left: .9375rem;
  padding-right: .9375rem;
}

.row {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
