
$black: #000000;
$dark: #242424;
$white: #ffffff;
$light: #f1f2f3;

$gray-border: #c7cad1;
$gray-dead: #383d43;
$gray-darkest: #3f3f3f;
$gray-dark: #949599;
$gray: #bfbfbf;
$gray-light: #e7e7e9;
$gray-lightest: #f0f0f0;

$blue-sky: #b3daff;

$blue-lightest: #00c9ff;
$blue-light: #009fdb;
$blue: #0079b1;
$blue-dark: #0057b8;
$pink: #ff585d;
$orange: #ffb000;
$green: #91dc00;
$purple: #af29bb;
$purple-light: #bf3eff;
