.package-cards-container {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > div {
    width: 25%;
    margin-bottom: 30px;

    @include medium {
      width: 50%;
    }

    @include small {
      width: 100%;
      padding: 0;
    }

    &.larger-card {
      width: 33%;
      margin-bottom: 60px;

      @include medium {
        width: 50%;
      }

      @include small {
        width: 100%;
        padding: 0;
      }
    }
  }
}

.package-card {
  width: 100%;
  max-width: 290px;
  border-radius: 4px;
  box-shadow: 0 4px 8px #d8dcdf;
  position: relative;
  font-family: $source-sans-pro-light;

  @include small {
    margin: auto;
  }

  .card-content {
    padding-right: 22px;
    padding-left: 22px;

    @include small {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  .label-container {
    transform: translate(-50%, calc(-100% - 6px));
    position: absolute;
    left: 50%;

    .label {
      white-space: nowrap;
      text-align: center;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      background-color: $white;
      font-size: 12px;
      color: $blue;
      letter-spacing: -0.11px;
      padding: 4px 30px;
      border-top: 1px solid $blue;
      border-right: 1px solid $blue;
      border-left: 1px solid $blue;
    }
  }

  .title-container {
    width: 100%;
    padding: 12px 0;

    .title {
      font-size: 24px;
      line-height: 32px;
      font-weight: 300;
    }
  }

  .price {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 5px;
    font-family: $uni-neue-light;

    .prefix {
      font-size: 18px;
      line-height: 18px;
    }

    .amount {
      font-size: 40px;
      line-height: 49px;
    }

    .change {
      position: relative;
      font-size: 18px;

      &.duration-after {
        &::after {
          position: absolute;
          content: '/mo';
          font-size: 30px;
          bottom: 2px;
          left: 18px;
        }
      }

    }
  }

  .speed-section {
    border-top: 2px solid $blue-lightest;
    border-bottom: 2px solid $blue-lightest;
    margin-bottom: 15px;

    .split {
      position: relative;
      padding: 8px 0;
      height: 58px;
      font-family: $source-sans-pro-light;

      &::after {
        content: '';
        position: absolute;
        height: 32px;
        padding: 6% 1px;
        top: 12px;
        right: 50%;
        background: #7D8086;
      }

      .unlimited,
      .speed {
        line-height: 22px;
      }

    }
  }

  .features {
    min-height: 100px;
  }

  .add-cart-btn {
    text-transform: uppercase;
    background-color: $blue;
    color: $white;
    padding: 12px 16px;
    width: 100%;
    border: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    &.added {
      background-color: $green-dark;
    }
  }
}

.device-card {
  width: 90px;
  margin-right: 10px;
  margin-left: 10px;
}
