@font-face {
  font-family: "Source Sans Pro Light";
  font-style: normal;
  font-weight: 200;
  src: url("./../fonts/SourceSansPro-Light.otf") format("opentype");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("./../fonts/SourceSansPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Source Sans Pro B";
  font-weight: 600;
  src: url("./../fonts/SourceSansPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Source Sans Pro Bold";
  font-weight: 600;
  src: url("./../fonts/SourceSansPro-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Uni Neue W00 Book";
  font-style: normal;
  src: url("./../fonts/unineue-book.otf") format("opentype");
}

@font-face {
  font-family: "Uni Neue Light";
  font-style: thin;
  font-weight: 200;
  src: url("./../fonts/unineue-light.otf") format("opentype");
}

@font-face {
  font-family: "Uni Neue";
  font-style: normal;
  font-weight: 500;
  src: url("./../fonts/unineue-regular.otf") format("opentype");
}

@font-face {
  font-family: "Uni Neue Heavy";
  font-style: normal;
  font-weight: 700;
  src: url("./../fonts/unineue-heavy.otf") format("opentype");
}

// ========================================
// FONT VARIABLES
// ========================================
$source-sans-pro: "Source Sans Pro", helvetica, sans-serif;
$source-sans-pro-light: "Source Sans Pro Light", helvetica, sans-serif;
$source-sans-pro-bold: "Source Sans Pro Bold", helvetica, sans-serif;
$uni-neue-book: "Uni Neue W00 Book", helvetica, sans-serif;
$uni-neue-bold: "Uni Neue W00 Bold", helvetica, sans-serif;
$uni-neue-light: "Uni Neue Light", helvetica, sans-serif;
$uni-neue: "Uni Neue", helvetica, sans-serif;
$uni-neue-heavy: "Uni Neue Heavy", helvetica, sans-serif;

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: $source-sans-pro;

}

h1,
.h1 {
  font-family: $uni-neue;
  font-size: 32px;
  // font-weight: 500;
  line-height: 32px;

  @include large-up {
    font-size: 52px;
    line-height: 60px;
  }

  &.thin { font-family: $uni-neue-light; }
  &.bold { font-family: $uni-neue-bold; }
  &.book { font-family: $uni-neue-book; }
}

h2,
.h2 {
  font-family: $uni-neue;
  font-size: 28px;
  line-height: 32px;

  @include large-up {
    font-size: 48px;
    line-height: 56px;
  }

  &.thin { font-family: $uni-neue-light; }
  &.bold { font-family: $uni-neue-bold; }
  &.book { font-family: $uni-neue-book; }
}

h3,
.h3 {
  font-family: $uni-neue;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;

  @include large-up {
    font-size: 40px;
    line-height: 48px;
  }

  &.thin { font-family: $uni-neue-light; }
  &.bold { font-family: $uni-neue-bold; }
  &.book { font-family: $uni-neue-book; }
}

p {
  font-size: 16px;
  line-height: 22px;

  &.thin { font-family: $source-sans-pro-light; }
  &.bold {
    font-family: $source-sans-pro-bold;
  }
}

span {
  &.thin { font-family: $source-sans-pro-light; }
  &.bold { font-family: $source-sans-pro-bold; }
}
